# Collecting Data for Final Project
Author: Tiffany Lin

Table of Contents:

Making sure duckdb is installed

In [1]:
import duckdb

# Placeholder for the database connection. It will be initialized later with the URL.
conn = duckdb.connect()
conn

Enabling HTTPFS

In [2]:
# Install and Load the HTTPFS extension
# This is required to access remote files over the web (HTTP/S)
conn.execute("INSTALL httpfs;")
conn.execute("LOAD httpfs;")

Connect to the remote database source

In [3]:
# This is one of the several DuckDB databases hosted in the CS server.
# This database had the DPDP data for the year 2024 for the United States (en).
database_url = "https://cs.wellesley.edu/~eni/duckdb/2024_wiki_views.duckdb"

# Attach the remote file as a database named 'web_db' and start using it
try:
    conn.execute(f"ATTACH '{database_url}' AS web_db (READ_ONLY);")
    conn.execute("USE web_db;")
    print(f"Successfully attached database from: {database_url}")
except Exception as e:
    print(f"Error attaching database: {e}")

Successfully attached database from: https://cs.wellesley.edu/~eni/duckdb/2024_wiki_views.duckdb

Checking what is in the database

In [4]:
query = "PRAGMA show_tables"
result = conn.sql(query)
result

┌────────────┐
│    name    │
│  varchar   │
├────────────┤
│ data_table │
└────────────┘

In [5]:
query = "SHOW DATABASES;"
result = conn.sql(query)
result

┌───────────────┐
│ database_name │
│    varchar    │
├───────────────┤
│ memory        │
│ web_db        │
└───────────────┘

In [ ]:
query2 = """
SELECT
    t1.date,
    t1.article,
    t1.qid,
    t1.pageviews AS daily_pageviews,
    t2.monthly_total
FROM data_table t1
JOIN (
    SELECT
        article,
        SUM(pageviews) AS monthly_total
    FROM data_table
    WHERE MONTH(date) = 4
      AND article LIKE '%song)'
    GROUP BY article
) t2 ON t1.article = t2.article
WHERE MONTH(t1.date) = 4
    AND t1.article LIKE '%song%'
ORDER BY t2.monthly_total DESC, t1.date;
"""
result_2 = conn.sql(query2).df()
result_2

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,date,article,qid,daily_pageviews,monthly_total
0,2024-04-18,Clara_Bow_(song),None,2603,471741.0
1,2024-04-19,Clara_Bow_(song),None,3599,471741.0
2,2024-04-19,Clara_Bow_(song),Q124426354,238580,471741.0
3,2024-04-20,Clara_Bow_(song),Q124426354,105861,471741.0
4,2024-04-21,Clara_Bow_(song),Q124426354,59858,471741.0
...,...,...,...,...,...
21047,2024-04-14,When_I'm_Gone_(Eminem_song),Q2263502,90,90.0
21048,2024-04-19,Bam_Bam_(Sister_Nancy_song),Q39069690,90,90.0
21049,2024-04-22,Poison_(Alice_Cooper_song),Q508899,90,90.0
21050,2024-04-26,Shelter_(Porter_Robinson_and_Madeon_song),Q27467421,90,90.0
21051,2024-04-28,I_Want_You_(Savage_Garden_song),Q3775421,90,90.0

In [5]:
result_2

,date,article,qid,daily_pageviews,monthly_total
0,2024-04-18,Clara_Bow_(song),None,2603,471741.0
1,2024-04-19,Clara_Bow_(song),None,3599,471741.0
2,2024-04-19,Clara_Bow_(song),Q124426354,238580,471741.0
3,2024-04-20,Clara_Bow_(song),Q124426354,105861,471741.0
4,2024-04-21,Clara_Bow_(song),Q124426354,59858,471741.0
...,...,...,...,...,...
21047,2024-04-14,When_I'm_Gone_(Eminem_song),Q2263502,90,90.0
21048,2024-04-19,Bam_Bam_(Sister_Nancy_song),Q39069690,90,90.0
21049,2024-04-22,Poison_(Alice_Cooper_song),Q508899,90,90.0
21050,2024-04-26,Shelter_(Porter_Robinson_and_Madeon_song),Q27467421,90,90.0
21051,2024-04-28,I_Want_You_(Savage_Garden_song),Q3775421,90,90.0

In [14]:
song_df = result_2.groupby("article")
print(song_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x12c7dc7d0>

Trying to get a more simplified query

In [8]:
query3 = """
SELECT
    article,
    SUM(pageviews) AS monthly_total
FROM data_table
WHERE MONTH(date) = 4
    AND article LIKE '%song)'
GROUP BY article
ORDER BY monthly_total DESC
LIMIT 100;
"""
result_3 = conn.sql(query3).df()
result_3

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

                                article  monthly_total
0                      Clara_Bow_(song)       471741.0
1              Blackbird_(Beatles_song)        64358.0
2         Fortnight_(Taylor_Swift_song)        56037.0
3                Karma_(JoJo_Siwa_song)        38489.0
4                 Texas_Hold_'Em_(song)        36496.0
..                                  ...            ...
95  Time_After_Time_(Cyndi_Lauper_song)         7381.0
96        It's_My_Life_(Talk_Talk_song)         7280.0
97              Redrum_(21_Savage_song)         7277.0
98                  Believe_(Cher_song)         7247.0
99         Blue_Monday_(New_Order_song)         7240.0

[100 rows x 2 columns]

In [8]:
query4 = """
SELECT DISTINCT
    article,
    qid
FROM data_table
WHERE qid IS NOT NULL
  AND article LIKE '%song)';
"""
result_4 = conn.sql(query4).df()
result_4

                                  article         qid
0         When_a_Man_Loves_a_Woman_(song)    Q2456757
1                       Rocket_Man_(song)   Q56070897
2                     Shia_LaBeouf_(song)   Q25206229
3                Let_It_Be_(Beatles_song)     Q184259
4       The_Man_Who_Sold_the_World_(song)    Q2341319
...                                   ...         ...
4541  Busy_Woman_(Sabrina_Carpenter_song)  Q126327826
4542  More_than_This_(One_Direction_song)     Q932456
4543                     That_Lady_(song)    Q7711220
4544                 November_18th_(song)  Q125503906
4545           The_Old_North_State_(song)    Q7754888

[4546 rows x 2 columns]

In [9]:
import pandas as pd

In [10]:
qid_lookup = result_4[['article', 'qid']].drop_duplicates(subset=['article'])

In [11]:
qid_lookup

                                  article         qid
0         When_a_Man_Loves_a_Woman_(song)    Q2456757
1                       Rocket_Man_(song)   Q56070897
2                     Shia_LaBeouf_(song)   Q25206229
3                Let_It_Be_(Beatles_song)     Q184259
4       The_Man_Who_Sold_the_World_(song)    Q2341319
...                                   ...         ...
4541  Busy_Woman_(Sabrina_Carpenter_song)  Q126327826
4542  More_than_This_(One_Direction_song)     Q932456
4543                     That_Lady_(song)    Q7711220
4544                 November_18th_(song)  Q125503906
4545           The_Old_North_State_(song)    Q7754888

[4532 rows x 2 columns]

In [12]:
df_merged = pd.merge(result_2, qid_lookup, 
                     on='article', 
                     how='left')

In [13]:
df_merged

,date,article,qid_x,daily_pageviews,monthly_total,qid_y
0,2024-04-18,Clara_Bow_(song),None,2603,471741.0,Q124426354
1,2024-04-19,Clara_Bow_(song),None,3599,471741.0,Q124426354
2,2024-04-19,Clara_Bow_(song),Q124426354,238580,471741.0,Q124426354
3,2024-04-20,Clara_Bow_(song),Q124426354,105861,471741.0,Q124426354
4,2024-04-21,Clara_Bow_(song),Q124426354,59858,471741.0,Q124426354
...,...,...,...,...,...,...
21047,2024-04-14,When_I'm_Gone_(Eminem_song),Q2263502,90,90.0,Q2263502
21048,2024-04-19,Bam_Bam_(Sister_Nancy_song),Q39069690,90,90.0,Q39069690
21049,2024-04-22,Poison_(Alice_Cooper_song),Q508899,90,90.0,Q508899
21050,2024-04-26,Shelter_(Porter_Robinson_and_Madeon_song),Q27467421,90,90.0,Q27467421
21051,2024-04-28,I_Want_You_(Savage_Garden_song),Q3775421,90,90.0,Q3775421

In [15]:
df_new = df_merged.drop(['date','qid_x', 'daily_pageviews'], axis=1)

In [16]:
df_new

                                         article  monthly_total       qid_y
0                               Clara_Bow_(song)       471741.0  Q124426354
1                               Clara_Bow_(song)       471741.0  Q124426354
2                               Clara_Bow_(song)       471741.0  Q124426354
3                               Clara_Bow_(song)       471741.0  Q124426354
4                               Clara_Bow_(song)       471741.0  Q124426354
...                                          ...            ...         ...
21047                  In_the_Garden_(1912_song)           90.0   Q11977017
21048                Bam_Bam_(Sister_Nancy_song)           90.0   Q39069690
21049                 Poison_(Alice_Cooper_song)           90.0     Q508899
21050  Shelter_(Porter_Robinson_and_Madeon_song)           90.0   Q27467421
21051            I_Want_You_(Savage_Garden_song)           90.0    Q3775421

[21052 rows x 3 columns]

In [17]:
df_clean = df_new.drop_duplicates()

In [18]:
df_clean

                                         article  monthly_total       qid_y
0                               Clara_Bow_(song)       471741.0  Q124426354
15                      Blackbird_(Beatles_song)        64358.0     Q880719
45                 Fortnight_(Taylor_Swift_song)        56037.0  Q125511018
58                        Karma_(JoJo_Siwa_song)        38489.0  Q125450884
69                         Texas_Hold_'Em_(song)        36496.0  Q124507936
...                                          ...            ...         ...
21047                  In_the_Garden_(1912_song)           90.0   Q11977017
21048                Bam_Bam_(Sister_Nancy_song)           90.0   Q39069690
21049                 Poison_(Alice_Cooper_song)           90.0     Q508899
21050  Shelter_(Porter_Robinson_and_Madeon_song)           90.0   Q27467421
21051            I_Want_You_(Savage_Garden_song)           90.0    Q3775421

[1831 rows x 3 columns]

In [19]:
df_clean_new = df_clean.rename(columns={'monthly_total': 'pageviews', 'qid_y': 'qid'})

In [20]:
df_clean_new

                                         article  pageviews         qid
0                               Clara_Bow_(song)   471741.0  Q124426354
15                      Blackbird_(Beatles_song)    64358.0     Q880719
45                 Fortnight_(Taylor_Swift_song)    56037.0  Q125511018
58                        Karma_(JoJo_Siwa_song)    38489.0  Q125450884
69                         Texas_Hold_'Em_(song)    36496.0  Q124507936
...                                          ...        ...         ...
21047                  In_the_Garden_(1912_song)       90.0   Q11977017
21048                Bam_Bam_(Sister_Nancy_song)       90.0   Q39069690
21049                 Poison_(Alice_Cooper_song)       90.0     Q508899
21050  Shelter_(Porter_Robinson_and_Madeon_song)       90.0   Q27467421
21051            I_Want_You_(Savage_Garden_song)       90.0    Q3775421

[1831 rows x 3 columns]

In [21]:
df_clean_new.to_csv('articles_song.csv', index=True, header=True)

In [22]:
qid_list = [qid for qid in df_clean_new["qid"]]

In [23]:
qid_list

['Q124426354',
 'Q880719',
 'Q125511018',
 'Q125450884',
 'Q124507936',
 'Q125131153',
 'Q125503478',
 'Q466255',
 'Q969635',
 'Q125450884',
 'Q169298',
 'Q1573997',
 'Q1573997',
 'Q124422481',
 'Q3518110',
 'Q67184416',
 'Q122332978',
 'Q7959653',
 'Q124556312',
 'Q1813850',
 'Q700867',
 'Q1231722',
 'Q18208944',
 'Q155016',
 'Q125450571',
 'Q1165404',
 'Q125371893',
 'Q125024843',
 'Q22075121',
 'Q2001828',
 'Q115945493',
 'Q383842',
 'Q7516352',
 'Q125166898',
 'Q112577',
 'Q1142043',
 'Q114721508',
 'Q1932351',
 'Q312122',
 'Q20856833',
 'Q21172725',
 'Q123169436',
 'Q7289232',
 'Q19892111',
 'Q5679132',
 'Q1420677',
 'Q592696',
 'Q1764379',
 'Q744297',
 'Q3293037',
 'Q2430003',
 'Q3392431',
 'Q2311707',
 'Q2604122',
 'Q2137506',
 'Q1057533',
 'Q4929858',
 'Q1647391',
 'Q863433',
 'Q582848',
 'Q1121052',
 'Q1742084',
 'Q1513654',
 'Q964737',
 'Q999593',
 'Q641677',
 'Q1138836',
 'Q3059276',
 'Q104296021',
 'Q5976590',
 'Q3635151',
 'Q2078402',
 'Q1786535',
 'Q125347338',
 'Q123312089',
 'Q52808665',
 'Q104774451',
 'Q1971',
 'Q123039481',
 'Q804380',
 'Q4357239',
 'Q123273186',
 'Q1402021',
 'Q164100',
 'Q5853236',
 'Q380825',
 'Q4914303',
 'Q2523320',
 'Q124648690',
 'Q2291989',
 'Q1138361',
 'Q123418409',
 'Q23647071',
 'Q166904',
 'Q114805013',
 'Q1808348',
 'Q1675420',
 'Q124317039',
 'Q2639231',
 'Q885777',
 'Q29017367',
 'Q124040082',
 'Q56770393',
 'Q913700',
 'Q106291700',
 'Q1579259',
 'Q771253',
 'Q97929991',
 'Q2341319',
 'Q1165917',
 'Q3503685',
 'Q720620',
 'Q2735688',
 'Q2736391',
 'Q7072070',
 'Q1473718',
 'Q379751',
 'Q184259',
 'Q153029',
 'Q116824945',
 'Q880611',
 'Q30606332',
 'Q98066028',
 'Q2706015',
 'Q2076570',
 'Q157355',
 'Q2081392',
 'Q115640235',
 'Q1392942',
 'Q2733482',
 'Q698481',
 'Q844046',
 'Q683320',
 'Q3472816',
 'Q1404968',
 'Q841967',
 'Q210485',
 'Q15275920',
 'Q1165771',
 'Q23056',
 'Q1253170',
 'Q7771013',
 'Q1498615',
 'Q1770461',
 'Q387939',
 'Q13557314',
 'Q1130943',
 'Q2320733',
 'Q14661781',
 'Q32503',
 'Q57898891',
 'Q686850',
 'Q90599924',
 'Q3075151',
 'Q1163515',
 'Q865095',
 'Q2539410',
 'Q2083222',
 'Q30603613',
 'Q1714123',
 'Q121167968',
 'Q2030651',
 'Q529026',
 'Q2734705',
 'Q2721073',
 'Q125131153',
 'Q8027833',
 'Q1419882',
 'Q770786',
 'Q7991506',
 'Q2000445',
 'Q2991794',
 'Q832799',
 'Q119451063',
 'Q2262482',
 'Q1770488',
 'Q2454080',
 'Q2517476',
 'Q56070897',
 'Q5183105',
 'Q2634654',
 'Q202698',
 'Q6297345',
 'Q1193181',
 'Q2688110',
 'Q4391031',
 'Q7569812',
 'Q7281218',
 'Q1551991',
 'Q114783970',
 'Q959036',
 'Q57939337',
 'Q125218978',
 'Q118945325',
 'Q63245158',
 'Q155447',
 'Q1036227',
 'Q3445324',
 'Q578498',
 'Q2664309',
 'Q701655',
 'Q23004224',
 'Q117842122',
 'Q5559091',
 'Q240211',
 'Q97631372',
 'Q525539',
 'Q1631268',
 'Q239076',
 'Q4965917',
 'Q7289232',
 'Q2619535',
 'Q1159364',
 'Q1541182',
 'Q82123',
 'Q3980281',
 'Q749752',
 'Q16843253',
 'Q257517',
 'Q2554050',
 'Q7637277',
 'Q6946243',
 'Q2756130',
 'Q6058113',
 'Q5433668',
 'Q1166204',
 'Q18786700',
 'Q123990059',
 'Q634821',
 'Q4646459',
 'Q19875576',
 'Q5451533',
 'Q62618893',
 'Q124353181',
 'Q733931',
 'Q16028874',
 'Q1387798',
 'Q120441376',
 'Q1324983',
 'Q104175596',
 'Q661493',
 'Q88222469',
 'Q720547',
 nan,
 'Q2553206',
 'Q1130223',
 'Q257424',
 'Q5135443',
 'Q4838245',
 'Q938656',
 'Q4037259',
 'Q225027',
 'Q1381626',
 'Q74038',
 'Q122662730',
 'Q97664817',
 'Q2717247',
 'Q804574',
 'Q978391',
 'Q124363248',
 'Q732826',
 'Q7080555',
 'Q104184919',
 'Q107525406',
 'Q20882673',
 'Q21643112',
 'Q3989961',
 'Q910487',
 'Q276136',
 'Q5973399',
 'Q115706733',
 'Q635756',
 'Q1761593',
 'Q568484',
 'Q1808658',
 'Q1808804',
 'Q125706765',
 'Q1423445',
 'Q1128775',
 'Q124369154',
 'Q2363966',
 'Q7678069',
 'Q1437264',
 'Q109463690',
 'Q2006198',
 'Q28737603',
 'Q3373964',
 'Q910905',
 'Q2455256',
 'Q996033',
 'Q3435464',
 'Q522215',
 'Q98910463',
 'Q2628090',
 'Q2300404',
 'Q107439752',
 'Q56635098',
 'Q1479183',
 'Q3155809',
 'Q116453699',
 'Q2086380',
 'Q1408207',
 'Q169987',
 'Q1714785',
 'Q27623',
 'Q2731738',
 'Q1575153',
 'Q3366912',
 'Q1398035',
 'Q2069502',
 'Q857507',
 'Q29051557',
 'Q2303661',
 'Q1629508',
 'Q113669344',
 'Q1437266',
 'Q1635376',
 'Q1141939',
 'Q1172628',
 'Q189007',
 'Q48767503',
 'Q154187',
 'Q147734',
 'Q2078599',
 'Q11510350',
 'Q593978',
 'Q1995488',
 'Q7758542',
 'Q7309633',
 'Q18601898',
 'Q738474',
 'Q5092300',
 'Q5216027',
 'Q16951268',
 'Q118534203',
 'Q5286056',
 'Q28452669',
 'Q30603340',
 'Q1882159',
 'Q5331081',
 'Q2565798',
 'Q2548927',
 'Q120024185',
 'Q122143634',
 'Q2164631',
 'Q107123213',
 'Q572144',
 'Q2551568',
 'Q5351760',
 'Q719975',
 'Q1939352',
 'Q1130059',
 'Q1194892',
 'Q1573223',
 'Q22668404',
 'Q1641812',
 'Q18786715',
 'Q686517',
 'Q957761',
 'Q1450954',
 'Q3013215',
 'Q15078879',
 'Q943285',
 'Q830734',
 'Q8050903',
 'Q2733678',
 'Q14370331',
 'Q352920',
 'Q542497',
 'Q5139820',
 'Q1143166',
 'Q275422',
 'Q74208810',
 'Q2281058',
 'Q124680486',
 'Q29352319',
 'Q1164580',
 'Q535566',
 'Q2191286',
 'Q2454066',
 'Q2315723',
 'Q2630950',
 'Q2355373',
 'Q7993694',
 'Q7160503',
 'Q21504121',
 'Q66382926',
 'Q124634823',
 'Q1934656',
 'Q543362',
 'Q4643816',
 'Q920366',
 'Q19954301',
 'Q2097859',
 'Q1131761',
 'Q3553704',
 'Q113876065',
 'Q2080943',
 'Q2574626',
 'Q17063439',
 'Q989611',
 'Q153044',
 'Q7773598',
 'Q79330104',
 'Q66314458',
 'Q638334',
 'Q7033371',
 'Q11101138',
 'Q4044259',
 'Q7639816',
 'Q7993733',
 'Q1088774',
 'Q19875767',
 'Q285001',
 'Q2446997',
 'Q1319686',
 'Q5036681',
 'Q27677387',
 'Q3303585',
 'Q18393825',
 'Q1228231',
 'Q123990023',
 'Q117462019',
 'Q124385775',
 'Q7332282',
 'Q2287863',
 'Q2261813',
 'Q2739062',
 'Q2006225',
 'Q3689909',
 'Q1353423',
 'Q1888554',
 'Q16841151',
 'Q734624',
 'Q727067',
 'Q66839247',
 'Q7092414',
 'Q2904707',
 'Q124550519',
 'Q3273659',
 'Q3264268',
 'Q83050393',
 'Q163412',
 'Q2307249',
 'Q3143326',
 'Q14559271',
 'Q853621',
 'Q1078140',
 'Q919452',
 'Q100406799',
 'Q85786155',
 'Q7421538',
 'Q5215345',
 'Q2474196',
 'Q2735837',
 'Q6812617',
 'Q1126532',
 'Q1025631',
 'Q2758707',
 'Q12252332',
 'Q125545639',
 'Q517591',
 'Q288281',
 'Q54869049',
 'Q188766',
 'Q2701727',
 'Q2018005',
 'Q1603052',
 'Q653189',
 'Q117305738',
 'Q35282195',
 'Q14915219',
 'Q4828923',
 'Q1814594',
 'Q125743792',
 'Q189002',
 'Q991121',
 'Q3798619',
 'Q3772414',
 'Q941387',
 'Q1981958',
 'Q3959743',
 'Q14927695',
 'Q1541242',
 'Q7110676',
 'Q2553905',
 'Q4778332',
 'Q10298652',
 'Q1605038',
 'Q1748161',
 'Q326790',
 'Q2616520',
 'Q720569',
 'Q641913',
 'Q1981875',
 'Q13293685',
 'Q96377272',
 'Q10319654',
 'Q6122411',
 'Q7207458',
 'Q4762145',
 'Q729178',
 'Q7323270',
 'Q1461284',
 'Q1772880',
 'Q2020828',
 'Q2469978',
 'Q786392',
 'Q4993306',
 'Q65047167',
 'Q1852653',
 'Q7095288',
 nan,
 'Q170183',
 'Q2697907',
 'Q15427702',
 'Q2093786',
 'Q54869141',
 'Q1779390',
 'Q899169',
 'Q5418171',
 'Q3437349',
 'Q2276212',
 'Q579766',
 'Q7208434',
 'Q1574701',
 'Q119475360',
 'Q2892667',
 'Q4750070',
 'Q105137334',
 'Q4206949',
 'Q125685873',
 'Q26257738',
 'Q104092599',
 'Q1982366',
 'Q2633886',
 'Q1073719',
 'Q1338015',
 'Q598412',
 'Q1995973',
 'Q859298',
 'Q956305',
 'Q106899363',
 'Q1440116',
 'Q2551963',
 'Q1172469',
 'Q208837',
 'Q1648703',
 'Q117706785',
 'Q950244',
 'Q22305868',
 'Q677927',
 'Q4122307',
 'Q1946997',
 'Q3751821',
 'Q2735564',
 'Q2327088',
 'Q1152776',
 'Q1347115',
 'Q17468562',
 'Q2276614',
 'Q1408525',
 'Q831102',
 'Q528674',
 'Q2087371',
 'Q2567874',
 'Q615063',
 'Q1142725',
 'Q2456757',
 'Q838973',
 'Q600476',
 'Q507727',
 'Q959812',
 'Q4179376',
 'Q15375386',
 'Q1750363',
 'Q2282976',
 'Q21198638',
 'Q19973',
 'Q2713436',
 'Q55777670',
 'Q2415121',
 'Q13581351',
 'Q6690258',
 'Q1456492',
 'Q248210',
 'Q7468830',
 'Q1371048',
 'Q22666616',
 'Q5917624',
 'Q16920511',
 'Q1058134',
 'Q4833847',
 'Q4980576',
 'Q195534',
 'Q7766713',
 'Q2629093',
 'Q11297109',
 'Q4729118',
 'Q7783367',
 'Q666168',
 'Q834969',
 'Q6172950',
 'Q47915404',
 'Q110745791',
 'Q3746896',
 'Q125457773',
 'Q2478053',
 'Q115669312',
 'Q964588',
 'Q68015646',
 'Q2629301',
 'Q2040607',
 'Q376611',
 'Q1187360',
 'Q125490158',
 'Q56283767',
 'Q64026414',
 'Q7491923',
 'Q1849565',
 'Q188770',
 'Q7991175',
 'Q1821319',
 'Q3993337',
 'Q118979027',
 'Q126149',
 'Q1920130',
 'Q22041338',
 'Q96579017',
 'Q546331',
 'Q97691641',
 'Q6614153',
 'Q7773706',
 'Q5625317',
 'Q1991424',
 'Q6907941',
 'Q1319098',
 'Q1027829',
 'Q202698',
 'Q50413227',
 'Q993833',
 'Q1646614',
 'Q5553947',
 'Q2454384',
 'Q116786471',
 'Q7994811',
 'Q124606110',
 'Q241339',
 'Q3752329',
 'Q111550418',
 'Q2416766',
 'Q2575429',
 'Q7579119',
 'Q48771025',
 'Q1131308',
 'Q995862',
 'Q27126911',
 'Q4993570',
 'Q124637899',
 'Q3068179',
 'Q2617236',
 'Q5464703',
 'Q125821461',
 'Q125186031',
 'Q4038061',
 'Q2134998',
 'Q1406189',
 'Q3964614',
 'Q22056760',
 'Q3512522',
 'Q1543022',
 'Q1269045',
 'Q3041685',
 'Q1445935',
 'Q939945',
 'Q50845201',
 'Q112182851',
 'Q7500468',
 'Q839842',
 'Q3754019',
 'Q866186',
 'Q7227455',
 'Q2592385',
 'Q124817156',
 'Q5285108',
 'Q101428059',
 'Q835192',
 'Q2915228',
 'Q890210',
 'Q125314388',
 'Q909121',
 'Q2089407',
 'Q125017688',
 'Q2095265',
 'Q16994370',
 'Q744564',
 'Q120459946',
 'Q15114662',
 'Q642170',
 'Q6961497',
 'Q127268',
 'Q701966',
 'Q3420453',
 'Q15817835',
 'Q47166818',
 'Q1750952',
 'Q54869031',
 'Q64729088',
 'Q728791',
 'Q64686601',
 'Q8055079',
 'Q18246583',
 'Q85797355',
 'Q3503883',
 'Q2015357',
 'Q18763681',
 'Q546524',
 'Q2925118',
 'Q3854600',
 'Q2263951',
 'Q111312736',
 'Q885875',
 'Q5692932',
 'Q7228435',
 'Q55772702',
 'Q4741218',
 'Q7995524',
 'Q2393645',
 'Q2779740',
 'Q868569',
 'Q3882657',
 'Q7497327',
 'Q2544408',
 'Q2527634',
 'Q17065877',
 'Q5028999',
 'Q1848035',
 'Q2322142',
 'Q3124224',
 'Q3648309',
 'Q154078',
 'Q7622507',
 'Q15635928',
 'Q2262044',
 'Q84761142',
 'Q7443952',
 'Q2457967',
 'Q108597902',
 'Q2724785',
 'Q593415',
 'Q121307943',
 'Q184259',
 'Q7379371',
 'Q918029',
 'Q3783876',
 'Q2263965',
 'Q2271213',
 'Q29341805',
 'Q6945064',
 'Q787039',
 'Q49522',
 'Q1139219',
 'Q2634654',
 'Q1764403',
 'Q124735156',
 'Q719732',
 'Q600839',
 'Q1729759',
 'Q623470',
 'Q604369',
 'Q527131',
 'Q124711372',
 'Q1592434',
 'Q7782700',
 'Q2421169',
 'Q1952215',
 'Q1953769',
 'Q171260',
 'Q1856876',
 'Q3137776',
 'Q14913267',
 'Q7611095',
 'Q368218',
 'Q30525257',
 'Q2227079',
 'Q4691104',
 'Q17059921',
 'Q2530911',
 'Q2736561',
 'Q7730374',
 'Q18163892',
 'Q17485058',
 'Q1586664',
 'Q16961464',
 'Q124625322',
 'Q1468699',
 nan,
 'Q41553138',
 'Q118316199',
 'Q4035220',
 'Q5500050',
 'Q1077678',
 'Q16844324',
 'Q252057',
 'Q603753',
 'Q3276876',
 'Q2453037',
 'Q107654239',
 'Q813449',
 'Q124485529',
 'Q28229308',
 'Q2405772',
 'Q4018646',
 'Q2436301',
 'Q2551572',
 'Q117790874',
 'Q10337920',
 'Q124040144',
 'Q539119',
 'Q17060757',
 'Q7711299',
 'Q1139281',
 'Q2916924',
 'Q507541',
 'Q2413072',
 'Q500010',
 'Q2037068',
 'Q1025916',
 'Q2301473',
 'Q7173409',
 'Q116979449',
 'Q48565',
 'Q910912',
 'Q122890867',
 'Q5990947',
 'Q3443475',
 'Q125688793',
 'Q2077201',
 'Q5032057',
 'Q2887099',
 'Q5514667',
 'Q17064188',
 'Q18288',
 'Q2256262',
 'Q18149349',
 'Q7113439',
 'Q124708127',
 'Q2315784',
 'Q149501',
 'Q4838206',
 'Q57897076',
 'Q2725356',
 'Q1129496',
 'Q6929369',
 'Q27000439',
 'Q408972',
 'Q3316414',
 'Q10526527',
 'Q1427327',
 'Q7191144',
 'Q47494729',
 'Q5005808',
 'Q125372745',
 'Q1083282',
 'Q110558677',
 'Q16996391',
 'Q125338137',
 'Q2330074',
 'Q860467',
 'Q5966981',
 'Q5168829',
 'Q28544404',
 'Q7070555',
 'Q1147490',
 'Q59771981',
 'Q7655407',
 'Q114809914',
 'Q4732053',
 'Q3756063',
 'Q903409',
 'Q2075331',
 'Q738875',
 'Q17111037',
 'Q3572753',
 'Q3521647',
 'Q124432985',
 'Q4922137',
 'Q974709',
 'Q2298336',
 'Q7428011',
 nan,
 'Q2537050',
 'Q5329894',
 'Q1089544',
 'Q865086',
 'Q3508168',
 'Q3079925',
 'Q6532748',
 'Q6091772',
 'Q5137749',
 'Q88098498',
 'Q22918941',
 'Q1418568',
 'Q7441904',
 'Q1463270',
 'Q7093357',
 'Q5431307',
 'Q19627381',
 'Q2734581',
 'Q1353749',
 'Q3481461',
 'Q5577027',
 'Q7564550',
 'Q17022107',
 'Q117743249',
 'Q59297929',
 'Q1964791',
 'Q1165194',
 'Q7166346',
 'Q18590101',
 'Q765054',
 'Q3642293',
 'Q6812617',
 'Q121047067',
 'Q16993994',
 'Q783262',
 'Q189369',
 'Q1393546',
 'Q124245219',
 'Q7491802',
 'Q79646941',
 'Q51220061',
 'Q24197196',
 'Q8058873',
 'Q3372133',
 'Q98073193',
 'Q3793442',
 'Q104208885',
 'Q7677934',
 'Q1163530',
 'Q94557088',
 'Q15843028',
 'Q2542196',
 'Q1604423',
 'Q2889279',
 'Q29790517',
 'Q897406',
 'Q602645',
 'Q2423959',
 'Q106627156',
 'Q19991',
 'Q1523310',
 nan,
 'Q13929275',
 'Q6011971',
 'Q2662158',
 'Q20648823',
 'Q98747633',
 'Q2735985',
 'Q2663314',
 'Q1737746',
 'Q2912742',
 'Q9292174',
 'Q3752994',
 'Q30597747',
 'Q1138776',
 'Q1648799',
 'Q124658193',
 'Q2274905',
 'Q21480318',
 'Q2610501',
 'Q910268',
 'Q15891138',
 'Q16961370',
 'Q1950768',
 'Q969635',
 'Q10294126',
 'Q63245158',
 'Q6797599',
 'Q1800071',
 'Q29581389',
 'Q893426',
 'Q55280919',
 'Q1129368',
 'Q2413048',
 'Q97179810',
 'Q114854687',
 'Q18387054',
 'Q3061621',
 'Q4019788',
 'Q2664338',
 'Q1786521',
 'Q2636723',
 'Q8057206',
 'Q1987149',
 'Q6703396',
 'Q607626',
 'Q112682109',
 'Q2076591',
 'Q3434878',
 ...]

The QID List needs to be cleaned again, there's a duplicated QID. 
Additionally, article needs to be cleaned in the query so that there's a ")" at the end of song

In [24]:
unique_list = []
for qid in qid_list:
    if qid not in unique_list:
        unique_list.append(qid)
    else:
        continue
unique_list

['Q124426354',
 'Q880719',
 'Q125511018',
 'Q125450884',
 'Q124507936',
 'Q125131153',
 'Q125503478',
 'Q466255',
 'Q969635',
 'Q169298',
 'Q1573997',
 'Q124422481',
 'Q3518110',
 'Q67184416',
 'Q122332978',
 'Q7959653',
 'Q124556312',
 'Q1813850',
 'Q700867',
 'Q1231722',
 'Q18208944',
 'Q155016',
 'Q125450571',
 'Q1165404',
 'Q125371893',
 'Q125024843',
 'Q22075121',
 'Q2001828',
 'Q115945493',
 'Q383842',
 'Q7516352',
 'Q125166898',
 'Q112577',
 'Q1142043',
 'Q114721508',
 'Q1932351',
 'Q312122',
 'Q20856833',
 'Q21172725',
 'Q123169436',
 'Q7289232',
 'Q19892111',
 'Q5679132',
 'Q1420677',
 'Q592696',
 'Q1764379',
 'Q744297',
 'Q3293037',
 'Q2430003',
 'Q3392431',
 'Q2311707',
 'Q2604122',
 'Q2137506',
 'Q1057533',
 'Q4929858',
 'Q1647391',
 'Q863433',
 'Q582848',
 'Q1121052',
 'Q1742084',
 'Q1513654',
 'Q964737',
 'Q999593',
 'Q641677',
 'Q1138836',
 'Q3059276',
 'Q104296021',
 'Q5976590',
 'Q3635151',
 'Q2078402',
 'Q1786535',
 'Q125347338',
 'Q123312089',
 'Q52808665',
 'Q104774451',
 'Q1971',
 'Q123039481',
 'Q804380',
 'Q4357239',
 'Q123273186',
 'Q1402021',
 'Q164100',
 'Q5853236',
 'Q380825',
 'Q4914303',
 'Q2523320',
 'Q124648690',
 'Q2291989',
 'Q1138361',
 'Q123418409',
 'Q23647071',
 'Q166904',
 'Q114805013',
 'Q1808348',
 'Q1675420',
 'Q124317039',
 'Q2639231',
 'Q885777',
 'Q29017367',
 'Q124040082',
 'Q56770393',
 'Q913700',
 'Q106291700',
 'Q1579259',
 'Q771253',
 'Q97929991',
 'Q2341319',
 'Q1165917',
 'Q3503685',
 'Q720620',
 'Q2735688',
 'Q2736391',
 'Q7072070',
 'Q1473718',
 'Q379751',
 'Q184259',
 'Q153029',
 'Q116824945',
 'Q880611',
 'Q30606332',
 'Q98066028',
 'Q2706015',
 'Q2076570',
 'Q157355',
 'Q2081392',
 'Q115640235',
 'Q1392942',
 'Q2733482',
 'Q698481',
 'Q844046',
 'Q683320',
 'Q3472816',
 'Q1404968',
 'Q841967',
 'Q210485',
 'Q15275920',
 'Q1165771',
 'Q23056',
 'Q1253170',
 'Q7771013',
 'Q1498615',
 'Q1770461',
 'Q387939',
 'Q13557314',
 'Q1130943',
 'Q2320733',
 'Q14661781',
 'Q32503',
 'Q57898891',
 'Q686850',
 'Q90599924',
 'Q3075151',
 'Q1163515',
 'Q865095',
 'Q2539410',
 'Q2083222',
 'Q30603613',
 'Q1714123',
 'Q121167968',
 'Q2030651',
 'Q529026',
 'Q2734705',
 'Q2721073',
 'Q8027833',
 'Q1419882',
 'Q770786',
 'Q7991506',
 'Q2000445',
 'Q2991794',
 'Q832799',
 'Q119451063',
 'Q2262482',
 'Q1770488',
 'Q2454080',
 'Q2517476',
 'Q56070897',
 'Q5183105',
 'Q2634654',
 'Q202698',
 'Q6297345',
 'Q1193181',
 'Q2688110',
 'Q4391031',
 'Q7569812',
 'Q7281218',
 'Q1551991',
 'Q114783970',
 'Q959036',
 'Q57939337',
 'Q125218978',
 'Q118945325',
 'Q63245158',
 'Q155447',
 'Q1036227',
 'Q3445324',
 'Q578498',
 'Q2664309',
 'Q701655',
 'Q23004224',
 'Q117842122',
 'Q5559091',
 'Q240211',
 'Q97631372',
 'Q525539',
 'Q1631268',
 'Q239076',
 'Q4965917',
 'Q2619535',
 'Q1159364',
 'Q1541182',
 'Q82123',
 'Q3980281',
 'Q749752',
 'Q16843253',
 'Q257517',
 'Q2554050',
 'Q7637277',
 'Q6946243',
 'Q2756130',
 'Q6058113',
 'Q5433668',
 'Q1166204',
 'Q18786700',
 'Q123990059',
 'Q634821',
 'Q4646459',
 'Q19875576',
 'Q5451533',
 'Q62618893',
 'Q124353181',
 'Q733931',
 'Q16028874',
 'Q1387798',
 'Q120441376',
 'Q1324983',
 'Q104175596',
 'Q661493',
 'Q88222469',
 'Q720547',
 nan,
 'Q2553206',
 'Q1130223',
 'Q257424',
 'Q5135443',
 'Q4838245',
 'Q938656',
 'Q4037259',
 'Q225027',
 'Q1381626',
 'Q74038',
 'Q122662730',
 'Q97664817',
 'Q2717247',
 'Q804574',
 'Q978391',
 'Q124363248',
 'Q732826',
 'Q7080555',
 'Q104184919',
 'Q107525406',
 'Q20882673',
 'Q21643112',
 'Q3989961',
 'Q910487',
 'Q276136',
 'Q5973399',
 'Q115706733',
 'Q635756',
 'Q1761593',
 'Q568484',
 'Q1808658',
 'Q1808804',
 'Q125706765',
 'Q1423445',
 'Q1128775',
 'Q124369154',
 'Q2363966',
 'Q7678069',
 'Q1437264',
 'Q109463690',
 'Q2006198',
 'Q28737603',
 'Q3373964',
 'Q910905',
 'Q2455256',
 'Q996033',
 'Q3435464',
 'Q522215',
 'Q98910463',
 'Q2628090',
 'Q2300404',
 'Q107439752',
 'Q56635098',
 'Q1479183',
 'Q3155809',
 'Q116453699',
 'Q2086380',
 'Q1408207',
 'Q169987',
 'Q1714785',
 'Q27623',
 'Q2731738',
 'Q1575153',
 'Q3366912',
 'Q1398035',
 'Q2069502',
 'Q857507',
 'Q29051557',
 'Q2303661',
 'Q1629508',
 'Q113669344',
 'Q1437266',
 'Q1635376',
 'Q1141939',
 'Q1172628',
 'Q189007',
 'Q48767503',
 'Q154187',
 'Q147734',
 'Q2078599',
 'Q11510350',
 'Q593978',
 'Q1995488',
 'Q7758542',
 'Q7309633',
 'Q18601898',
 'Q738474',
 'Q5092300',
 'Q5216027',
 'Q16951268',
 'Q118534203',
 'Q5286056',
 'Q28452669',
 'Q30603340',
 'Q1882159',
 'Q5331081',
 'Q2565798',
 'Q2548927',
 'Q120024185',
 'Q122143634',
 'Q2164631',
 'Q107123213',
 'Q572144',
 'Q2551568',
 'Q5351760',
 'Q719975',
 'Q1939352',
 'Q1130059',
 'Q1194892',
 'Q1573223',
 'Q22668404',
 'Q1641812',
 'Q18786715',
 'Q686517',
 'Q957761',
 'Q1450954',
 'Q3013215',
 'Q15078879',
 'Q943285',
 'Q830734',
 'Q8050903',
 'Q2733678',
 'Q14370331',
 'Q352920',
 'Q542497',
 'Q5139820',
 'Q1143166',
 'Q275422',
 'Q74208810',
 'Q2281058',
 'Q124680486',
 'Q29352319',
 'Q1164580',
 'Q535566',
 'Q2191286',
 'Q2454066',
 'Q2315723',
 'Q2630950',
 'Q2355373',
 'Q7993694',
 'Q7160503',
 'Q21504121',
 'Q66382926',
 'Q124634823',
 'Q1934656',
 'Q543362',
 'Q4643816',
 'Q920366',
 'Q19954301',
 'Q2097859',
 'Q1131761',
 'Q3553704',
 'Q113876065',
 'Q2080943',
 'Q2574626',
 'Q17063439',
 'Q989611',
 'Q153044',
 'Q7773598',
 'Q79330104',
 'Q66314458',
 'Q638334',
 'Q7033371',
 'Q11101138',
 'Q4044259',
 'Q7639816',
 'Q7993733',
 'Q1088774',
 'Q19875767',
 'Q285001',
 'Q2446997',
 'Q1319686',
 'Q5036681',
 'Q27677387',
 'Q3303585',
 'Q18393825',
 'Q1228231',
 'Q123990023',
 'Q117462019',
 'Q124385775',
 'Q7332282',
 'Q2287863',
 'Q2261813',
 'Q2739062',
 'Q2006225',
 'Q3689909',
 'Q1353423',
 'Q1888554',
 'Q16841151',
 'Q734624',
 'Q727067',
 'Q66839247',
 'Q7092414',
 'Q2904707',
 'Q124550519',
 'Q3273659',
 'Q3264268',
 'Q83050393',
 'Q163412',
 'Q2307249',
 'Q3143326',
 'Q14559271',
 'Q853621',
 'Q1078140',
 'Q919452',
 'Q100406799',
 'Q85786155',
 'Q7421538',
 'Q5215345',
 'Q2474196',
 'Q2735837',
 'Q6812617',
 'Q1126532',
 'Q1025631',
 'Q2758707',
 'Q12252332',
 'Q125545639',
 'Q517591',
 'Q288281',
 'Q54869049',
 'Q188766',
 'Q2701727',
 'Q2018005',
 'Q1603052',
 'Q653189',
 'Q117305738',
 'Q35282195',
 'Q14915219',
 'Q4828923',
 'Q1814594',
 'Q125743792',
 'Q189002',
 'Q991121',
 'Q3798619',
 'Q3772414',
 'Q941387',
 'Q1981958',
 'Q3959743',
 'Q14927695',
 'Q1541242',
 'Q7110676',
 'Q2553905',
 'Q4778332',
 'Q10298652',
 'Q1605038',
 'Q1748161',
 'Q326790',
 'Q2616520',
 'Q720569',
 'Q641913',
 'Q1981875',
 'Q13293685',
 'Q96377272',
 'Q10319654',
 'Q6122411',
 'Q7207458',
 'Q4762145',
 'Q729178',
 'Q7323270',
 'Q1461284',
 'Q1772880',
 'Q2020828',
 'Q2469978',
 'Q786392',
 'Q4993306',
 'Q65047167',
 'Q1852653',
 'Q7095288',
 'Q170183',
 'Q2697907',
 'Q15427702',
 'Q2093786',
 'Q54869141',
 'Q1779390',
 'Q899169',
 'Q5418171',
 'Q3437349',
 'Q2276212',
 'Q579766',
 'Q7208434',
 'Q1574701',
 'Q119475360',
 'Q2892667',
 'Q4750070',
 'Q105137334',
 'Q4206949',
 'Q125685873',
 'Q26257738',
 'Q104092599',
 'Q1982366',
 'Q2633886',
 'Q1073719',
 'Q1338015',
 'Q598412',
 'Q1995973',
 'Q859298',
 'Q956305',
 'Q106899363',
 'Q1440116',
 'Q2551963',
 'Q1172469',
 'Q208837',
 'Q1648703',
 'Q117706785',
 'Q950244',
 'Q22305868',
 'Q677927',
 'Q4122307',
 'Q1946997',
 'Q3751821',
 'Q2735564',
 'Q2327088',
 'Q1152776',
 'Q1347115',
 'Q17468562',
 'Q2276614',
 'Q1408525',
 'Q831102',
 'Q528674',
 'Q2087371',
 'Q2567874',
 'Q615063',
 'Q1142725',
 'Q2456757',
 'Q838973',
 'Q600476',
 'Q507727',
 'Q959812',
 'Q4179376',
 'Q15375386',
 'Q1750363',
 'Q2282976',
 'Q21198638',
 'Q19973',
 'Q2713436',
 'Q55777670',
 'Q2415121',
 'Q13581351',
 'Q6690258',
 'Q1456492',
 'Q248210',
 'Q7468830',
 'Q1371048',
 'Q22666616',
 'Q5917624',
 'Q16920511',
 'Q1058134',
 'Q4833847',
 'Q4980576',
 'Q195534',
 'Q7766713',
 'Q2629093',
 'Q11297109',
 'Q4729118',
 'Q7783367',
 'Q666168',
 'Q834969',
 'Q6172950',
 'Q47915404',
 'Q110745791',
 'Q3746896',
 'Q125457773',
 'Q2478053',
 'Q115669312',
 'Q964588',
 'Q68015646',
 'Q2629301',
 'Q2040607',
 'Q376611',
 'Q1187360',
 'Q125490158',
 'Q56283767',
 'Q64026414',
 'Q7491923',
 'Q1849565',
 'Q188770',
 'Q7991175',
 'Q1821319',
 'Q3993337',
 'Q118979027',
 'Q126149',
 'Q1920130',
 'Q22041338',
 'Q96579017',
 'Q546331',
 'Q97691641',
 'Q6614153',
 'Q7773706',
 'Q5625317',
 'Q1991424',
 'Q6907941',
 'Q1319098',
 'Q1027829',
 'Q50413227',
 'Q993833',
 'Q1646614',
 'Q5553947',
 'Q2454384',
 'Q116786471',
 'Q7994811',
 'Q124606110',
 'Q241339',
 'Q3752329',
 'Q111550418',
 'Q2416766',
 'Q2575429',
 'Q7579119',
 'Q48771025',
 'Q1131308',
 'Q995862',
 'Q27126911',
 'Q4993570',
 'Q124637899',
 'Q3068179',
 'Q2617236',
 'Q5464703',
 'Q125821461',
 'Q125186031',
 'Q4038061',
 'Q2134998',
 'Q1406189',
 'Q3964614',
 'Q22056760',
 'Q3512522',
 'Q1543022',
 'Q1269045',
 'Q3041685',
 'Q1445935',
 'Q939945',
 'Q50845201',
 'Q112182851',
 'Q7500468',
 'Q839842',
 'Q3754019',
 'Q866186',
 'Q7227455',
 'Q2592385',
 'Q124817156',
 'Q5285108',
 'Q101428059',
 'Q835192',
 'Q2915228',
 'Q890210',
 'Q125314388',
 'Q909121',
 'Q2089407',
 'Q125017688',
 'Q2095265',
 'Q16994370',
 'Q744564',
 'Q120459946',
 'Q15114662',
 'Q642170',
 'Q6961497',
 'Q127268',
 'Q701966',
 'Q3420453',
 'Q15817835',
 'Q47166818',
 'Q1750952',
 'Q54869031',
 'Q64729088',
 'Q728791',
 'Q64686601',
 'Q8055079',
 'Q18246583',
 'Q85797355',
 'Q3503883',
 'Q2015357',
 'Q18763681',
 'Q546524',
 'Q2925118',
 'Q3854600',
 'Q2263951',
 'Q111312736',
 'Q885875',
 'Q5692932',
 'Q7228435',
 'Q55772702',
 'Q4741218',
 'Q7995524',
 'Q2393645',
 'Q2779740',
 'Q868569',
 'Q3882657',
 'Q7497327',
 'Q2544408',
 'Q2527634',
 'Q17065877',
 'Q5028999',
 'Q1848035',
 'Q2322142',
 'Q3124224',
 'Q3648309',
 'Q154078',
 'Q7622507',
 'Q15635928',
 'Q2262044',
 'Q84761142',
 'Q7443952',
 'Q2457967',
 'Q108597902',
 'Q2724785',
 'Q593415',
 'Q121307943',
 'Q7379371',
 'Q918029',
 'Q3783876',
 'Q2263965',
 'Q2271213',
 'Q29341805',
 'Q6945064',
 'Q787039',
 'Q49522',
 'Q1139219',
 'Q1764403',
 'Q124735156',
 'Q719732',
 'Q600839',
 'Q1729759',
 'Q623470',
 'Q604369',
 'Q527131',
 'Q124711372',
 'Q1592434',
 'Q7782700',
 'Q2421169',
 'Q1952215',
 'Q1953769',
 'Q171260',
 'Q1856876',
 'Q3137776',
 'Q14913267',
 'Q7611095',
 'Q368218',
 'Q30525257',
 'Q2227079',
 'Q4691104',
 'Q17059921',
 'Q2530911',
 'Q2736561',
 'Q7730374',
 'Q18163892',
 'Q17485058',
 'Q1586664',
 'Q16961464',
 'Q124625322',
 'Q1468699',
 'Q41553138',
 'Q118316199',
 'Q4035220',
 'Q5500050',
 'Q1077678',
 'Q16844324',
 'Q252057',
 'Q603753',
 'Q3276876',
 'Q2453037',
 'Q107654239',
 'Q813449',
 'Q124485529',
 'Q28229308',
 'Q2405772',
 'Q4018646',
 'Q2436301',
 'Q2551572',
 'Q117790874',
 'Q10337920',
 'Q124040144',
 'Q539119',
 'Q17060757',
 'Q7711299',
 'Q1139281',
 'Q2916924',
 'Q507541',
 'Q2413072',
 'Q500010',
 'Q2037068',
 'Q1025916',
 'Q2301473',
 'Q7173409',
 'Q116979449',
 'Q48565',
 'Q910912',
 'Q122890867',
 'Q5990947',
 'Q3443475',
 'Q125688793',
 'Q2077201',
 'Q5032057',
 'Q2887099',
 'Q5514667',
 'Q17064188',
 'Q18288',
 'Q2256262',
 'Q18149349',
 'Q7113439',
 'Q124708127',
 'Q2315784',
 'Q149501',
 'Q4838206',
 'Q57897076',
 'Q2725356',
 'Q1129496',
 'Q6929369',
 'Q27000439',
 'Q408972',
 'Q3316414',
 'Q10526527',
 'Q1427327',
 'Q7191144',
 'Q47494729',
 'Q5005808',
 'Q125372745',
 'Q1083282',
 'Q110558677',
 'Q16996391',
 'Q125338137',
 'Q2330074',
 'Q860467',
 'Q5966981',
 'Q5168829',
 'Q28544404',
 'Q7070555',
 'Q1147490',
 'Q59771981',
 'Q7655407',
 'Q114809914',
 'Q4732053',
 'Q3756063',
 'Q903409',
 'Q2075331',
 'Q738875',
 'Q17111037',
 'Q3572753',
 'Q3521647',
 'Q124432985',
 'Q4922137',
 'Q974709',
 'Q2298336',
 'Q7428011',
 'Q2537050',
 'Q5329894',
 'Q1089544',
 'Q865086',
 'Q3508168',
 'Q3079925',
 'Q6532748',
 'Q6091772',
 'Q5137749',
 'Q88098498',
 'Q22918941',
 'Q1418568',
 'Q7441904',
 'Q1463270',
 'Q7093357',
 'Q5431307',
 'Q19627381',
 'Q2734581',
 'Q1353749',
 'Q3481461',
 'Q5577027',
 'Q7564550',
 'Q17022107',
 'Q117743249',
 'Q59297929',
 'Q1964791',
 'Q1165194',
 'Q7166346',
 'Q18590101',
 'Q765054',
 'Q3642293',
 'Q121047067',
 'Q16993994',
 'Q783262',
 'Q189369',
 'Q1393546',
 'Q124245219',
 'Q7491802',
 'Q79646941',
 'Q51220061',
 'Q24197196',
 'Q8058873',
 'Q3372133',
 'Q98073193',
 'Q3793442',
 'Q104208885',
 'Q7677934',
 'Q1163530',
 'Q94557088',
 'Q15843028',
 'Q2542196',
 'Q1604423',
 'Q2889279',
 'Q29790517',
 'Q897406',
 'Q602645',
 'Q2423959',
 'Q106627156',
 'Q19991',
 'Q1523310',
 'Q13929275',
 'Q6011971',
 'Q2662158',
 'Q20648823',
 'Q98747633',
 'Q2735985',
 'Q2663314',
 'Q1737746',
 'Q2912742',
 'Q9292174',
 'Q3752994',
 'Q30597747',
 'Q1138776',
 'Q1648799',
 'Q124658193',
 'Q2274905',
 'Q21480318',
 'Q2610501',
 'Q910268',
 'Q15891138',
 'Q16961370',
 'Q1950768',
 'Q10294126',
 'Q6797599',
 'Q1800071',
 'Q29581389',
 'Q893426',
 'Q55280919',
 'Q1129368',
 'Q2413048',
 'Q97179810',
 'Q114854687',
 'Q18387054',
 'Q3061621',
 'Q4019788',
 'Q2664338',
 'Q1786521',
 'Q2636723',
 'Q8057206',
 'Q1987149',
 'Q6703396',
 'Q607626',
 'Q112682109',
 'Q2076591',
 'Q3434878',
 'Q65089936',
 'Q23986558',
 'Q5227547',
 'Q1983076',
 'Q65920863',
 'Q4896966',
 'Q523345',
 'Q114804768',
 'Q99441275',
 'Q685575',
 'Q2454199',
 'Q583143',
 'Q2878546',
 'Q3352366',
 ...]

In [25]:
file_name = 'qid_list.txt'

with open(file_name, 'w') as file:
    for qid in unique_list:
        file.write(f"{qid}\n")

### Redoing and cleaning the data

In [14]:
df_2 = df_merged.drop(['qid_x'], axis=1)

In [15]:
df_clean2 = df_2.drop_duplicates()

In [16]:
df_clean2

,date,article,daily_pageviews,monthly_total,qid_y
0,2024-04-18,Clara_Bow_(song),2603,471741.0,Q124426354
1,2024-04-19,Clara_Bow_(song),3599,471741.0,Q124426354
2,2024-04-19,Clara_Bow_(song),238580,471741.0,Q124426354
3,2024-04-20,Clara_Bow_(song),105861,471741.0,Q124426354
4,2024-04-21,Clara_Bow_(song),59858,471741.0,Q124426354
...,...,...,...,...,...
21047,2024-04-14,When_I'm_Gone_(Eminem_song),90,90.0,Q2263502
21048,2024-04-19,Bam_Bam_(Sister_Nancy_song),90,90.0,Q39069690
21049,2024-04-22,Poison_(Alice_Cooper_song),90,90.0,Q508899
21050,2024-04-26,Shelter_(Porter_Robinson_and_Madeon_song),90,90.0,Q27467421
21051,2024-04-28,I_Want_You_(Savage_Garden_song),90,90.0,Q3775421

In [17]:
df_clean_new = df_clean2.rename(columns={'qid_y': 'qid'})

In [18]:
df_clean_new

,date,article,daily_pageviews,monthly_total,qid
0,2024-04-18,Clara_Bow_(song),2603,471741.0,Q124426354
1,2024-04-19,Clara_Bow_(song),3599,471741.0,Q124426354
2,2024-04-19,Clara_Bow_(song),238580,471741.0,Q124426354
3,2024-04-20,Clara_Bow_(song),105861,471741.0,Q124426354
4,2024-04-21,Clara_Bow_(song),59858,471741.0,Q124426354
...,...,...,...,...,...
21047,2024-04-14,When_I'm_Gone_(Eminem_song),90,90.0,Q2263502
21048,2024-04-19,Bam_Bam_(Sister_Nancy_song),90,90.0,Q39069690
21049,2024-04-22,Poison_(Alice_Cooper_song),90,90.0,Q508899
21050,2024-04-26,Shelter_(Porter_Robinson_and_Madeon_song),90,90.0,Q27467421
21051,2024-04-28,I_Want_You_(Savage_Garden_song),90,90.0,Q3775421

In [21]:
df_clean_new["article"] = (
    df_clean_new["article"]
    .astype(str)
    .str.encode('latin-1', errors='replace') # Treat the string characters as raw 'latin-1' bytes
    .str.decode('utf-8', errors='replace')   # Re-decode the resulting bytes as UTF-8
)

Helper function to clean the article titles, so it's just the songs

In [22]:
def clean_articles(article_title):
    clean_title = article_title.split("_(")[0]
    return clean_title

In [24]:
df_clean_new["article"] = df_clean_new["article"].apply(lambda x: clean_articles(x))

In [25]:
df_clean_new

            date        article  daily_pageviews  monthly_total         qid
0     2024-04-18      Clara_Bow             2603       471741.0  Q124426354
1     2024-04-19      Clara_Bow             3599       471741.0  Q124426354
2     2024-04-19      Clara_Bow           238580       471741.0  Q124426354
3     2024-04-20      Clara_Bow           105861       471741.0  Q124426354
4     2024-04-21      Clara_Bow            59858       471741.0  Q124426354
...          ...            ...              ...            ...         ...
21047 2024-04-14  When_I'm_Gone               90           90.0    Q2263502
21048 2024-04-19        Bam_Bam               90           90.0   Q39069690
21049 2024-04-22         Poison               90           90.0     Q508899
21050 2024-04-26        Shelter               90           90.0   Q27467421
21051 2024-04-28     I_Want_You               90           90.0    Q3775421

[21052 rows x 5 columns]

In [26]:
df_clean_new["article"] = df_clean_new["article"].str.replace("_", " ")

In [28]:
df_clean_new

            date        article  daily_pageviews  monthly_total         qid
0     2024-04-18      Clara Bow             2603       471741.0  Q124426354
1     2024-04-19      Clara Bow             3599       471741.0  Q124426354
2     2024-04-19      Clara Bow           238580       471741.0  Q124426354
3     2024-04-20      Clara Bow           105861       471741.0  Q124426354
4     2024-04-21      Clara Bow            59858       471741.0  Q124426354
...          ...            ...              ...            ...         ...
21047 2024-04-14  When I'm Gone               90           90.0    Q2263502
21048 2024-04-19        Bam Bam               90           90.0   Q39069690
21049 2024-04-22         Poison               90           90.0     Q508899
21050 2024-04-26        Shelter               90           90.0   Q27467421
21051 2024-04-28     I Want You               90           90.0    Q3775421

[21052 rows x 5 columns]

In [29]:
df_clean_new.to_csv('articles_song2.csv', index=True, header=True)

Running the entity collection just in case there are any changes

In [30]:
qid_list = [qid for qid in df_clean_new["qid"]]

In [31]:
unique_list = []
for qid in qid_list:
    if qid not in unique_list:
        unique_list.append(qid)
    else:
        continue
unique_list

['Q124426354',
 'Q880719',
 'Q125511018',
 'Q125450884',
 'Q124507936',
 'Q125131153',
 'Q125503478',
 'Q466255',
 'Q969635',
 'Q169298',
 'Q1573997',
 'Q124422481',
 'Q3518110',
 'Q67184416',
 'Q122332978',
 'Q7959653',
 'Q124556312',
 'Q1813850',
 'Q700867',
 'Q1231722',
 'Q18208944',
 'Q155016',
 'Q125450571',
 'Q1165404',
 'Q125371893',
 'Q125024843',
 'Q22075121',
 'Q2001828',
 'Q115945493',
 'Q383842',
 'Q7516352',
 'Q125166898',
 'Q112577',
 'Q1142043',
 'Q114721508',
 'Q1932351',
 'Q312122',
 'Q20856833',
 'Q21172725',
 'Q123169436',
 'Q7289232',
 'Q19892111',
 'Q5679132',
 'Q1420677',
 'Q592696',
 'Q1764379',
 'Q744297',
 'Q3293037',
 'Q2430003',
 'Q3392431',
 'Q2311707',
 'Q2604122',
 'Q2137506',
 'Q1057533',
 'Q4929858',
 'Q1647391',
 'Q863433',
 'Q582848',
 'Q1121052',
 'Q1742084',
 'Q1513654',
 'Q964737',
 'Q999593',
 'Q641677',
 'Q1138836',
 'Q3059276',
 'Q104296021',
 'Q5976590',
 'Q3635151',
 'Q2078402',
 'Q1786535',
 'Q125347338',
 'Q123312089',
 'Q52808665',
 'Q104774451',
 'Q1971',
 'Q123039481',
 'Q804380',
 'Q4357239',
 'Q123273186',
 'Q1402021',
 'Q164100',
 'Q5853236',
 'Q380825',
 'Q4914303',
 'Q2523320',
 'Q124648690',
 'Q2291989',
 'Q1138361',
 'Q123418409',
 'Q23647071',
 'Q166904',
 'Q114805013',
 'Q1808348',
 'Q1675420',
 'Q124317039',
 'Q2639231',
 'Q885777',
 'Q29017367',
 'Q124040082',
 'Q56770393',
 'Q913700',
 'Q106291700',
 'Q1579259',
 'Q771253',
 'Q97929991',
 'Q2341319',
 'Q1165917',
 'Q3503685',
 'Q720620',
 'Q2735688',
 'Q2736391',
 'Q7072070',
 'Q1473718',
 'Q379751',
 'Q184259',
 'Q153029',
 'Q116824945',
 'Q880611',
 'Q30606332',
 'Q98066028',
 'Q2706015',
 'Q2076570',
 'Q157355',
 'Q2081392',
 'Q115640235',
 'Q1392942',
 'Q2733482',
 'Q698481',
 'Q844046',
 'Q683320',
 'Q3472816',
 'Q1404968',
 'Q841967',
 'Q210485',
 'Q15275920',
 'Q1165771',
 'Q23056',
 'Q1253170',
 'Q7771013',
 'Q1498615',
 'Q1770461',
 'Q387939',
 'Q13557314',
 'Q1130943',
 'Q2320733',
 'Q14661781',
 'Q32503',
 'Q57898891',
 'Q686850',
 'Q90599924',
 'Q3075151',
 'Q1163515',
 'Q865095',
 'Q2539410',
 'Q2083222',
 'Q30603613',
 'Q1714123',
 'Q121167968',
 'Q2030651',
 'Q529026',
 'Q2734705',
 'Q2721073',
 'Q8027833',
 'Q1419882',
 'Q770786',
 'Q7991506',
 'Q2000445',
 'Q2991794',
 'Q832799',
 'Q119451063',
 'Q2262482',
 'Q1770488',
 'Q2454080',
 'Q2517476',
 'Q56070897',
 'Q5183105',
 'Q2634654',
 'Q202698',
 'Q6297345',
 'Q1193181',
 'Q2688110',
 'Q4391031',
 'Q7569812',
 'Q7281218',
 'Q1551991',
 'Q114783970',
 'Q959036',
 'Q57939337',
 'Q125218978',
 'Q118945325',
 'Q63245158',
 'Q155447',
 'Q1036227',
 'Q3445324',
 'Q578498',
 'Q2664309',
 'Q701655',
 'Q23004224',
 'Q117842122',
 'Q5559091',
 'Q240211',
 'Q97631372',
 'Q525539',
 'Q1631268',
 'Q239076',
 'Q4965917',
 'Q2619535',
 'Q1159364',
 'Q1541182',
 'Q82123',
 'Q3980281',
 'Q749752',
 'Q16843253',
 'Q257517',
 'Q2554050',
 'Q7637277',
 'Q6946243',
 'Q2756130',
 'Q6058113',
 'Q5433668',
 'Q1166204',
 'Q18786700',
 'Q123990059',
 'Q634821',
 'Q4646459',
 'Q19875576',
 'Q5451533',
 'Q62618893',
 'Q124353181',
 'Q733931',
 'Q16028874',
 'Q1387798',
 'Q120441376',
 'Q1324983',
 'Q104175596',
 'Q661493',
 'Q88222469',
 'Q720547',
 nan,
 'Q2553206',
 'Q1130223',
 'Q257424',
 'Q5135443',
 'Q4838245',
 'Q938656',
 'Q4037259',
 'Q225027',
 'Q1381626',
 'Q74038',
 'Q122662730',
 'Q97664817',
 'Q2717247',
 'Q804574',
 'Q978391',
 'Q124363248',
 'Q732826',
 'Q7080555',
 'Q104184919',
 'Q107525406',
 'Q20882673',
 'Q21643112',
 'Q3989961',
 'Q910487',
 'Q276136',
 'Q5973399',
 'Q115706733',
 'Q635756',
 'Q1761593',
 'Q568484',
 'Q1808658',
 'Q1808804',
 'Q125706765',
 'Q1423445',
 'Q1128775',
 'Q124369154',
 'Q2363966',
 'Q7678069',
 'Q1437264',
 'Q109463690',
 'Q2006198',
 'Q28737603',
 'Q3373964',
 'Q910905',
 'Q2455256',
 'Q996033',
 'Q3435464',
 'Q522215',
 'Q98910463',
 'Q2628090',
 'Q2300404',
 'Q56635098',
 'Q107439752',
 'Q1479183',
 'Q3155809',
 'Q116453699',
 'Q2086380',
 'Q1408207',
 'Q169987',
 'Q1714785',
 'Q27623',
 'Q2731738',
 'Q1575153',
 'Q3366912',
 'Q1398035',
 'Q2069502',
 'Q857507',
 'Q29051557',
 'Q2303661',
 'Q1629508',
 'Q1635376',
 'Q1437266',
 'Q113669344',
 'Q1141939',
 'Q1172628',
 'Q189007',
 'Q48767503',
 'Q154187',
 'Q147734',
 'Q2078599',
 'Q11510350',
 'Q593978',
 'Q1995488',
 'Q7758542',
 'Q7309633',
 'Q18601898',
 'Q738474',
 'Q5092300',
 'Q5216027',
 'Q16951268',
 'Q118534203',
 'Q5286056',
 'Q28452669',
 'Q30603340',
 'Q1882159',
 'Q5331081',
 'Q2565798',
 'Q2548927',
 'Q120024185',
 'Q122143634',
 'Q2164631',
 'Q107123213',
 'Q572144',
 'Q2551568',
 'Q5351760',
 'Q719975',
 'Q1939352',
 'Q1130059',
 'Q1194892',
 'Q1573223',
 'Q22668404',
 'Q1641812',
 'Q18786715',
 'Q686517',
 'Q957761',
 'Q1450954',
 'Q3013215',
 'Q15078879',
 'Q943285',
 'Q830734',
 'Q8050903',
 'Q2733678',
 'Q14370331',
 'Q352920',
 'Q5139820',
 'Q542497',
 'Q1143166',
 'Q275422',
 'Q74208810',
 'Q2281058',
 'Q124680486',
 'Q29352319',
 'Q1164580',
 'Q535566',
 'Q2191286',
 'Q2454066',
 'Q2315723',
 'Q2630950',
 'Q2355373',
 'Q7160503',
 'Q7993694',
 'Q21504121',
 'Q66382926',
 'Q124634823',
 'Q1934656',
 'Q543362',
 'Q19954301',
 'Q920366',
 'Q4643816',
 'Q2097859',
 'Q1131761',
 'Q3553704',
 'Q113876065',
 'Q2080943',
 'Q2574626',
 'Q17063439',
 'Q989611',
 'Q153044',
 'Q7773598',
 'Q79330104',
 'Q66314458',
 'Q638334',
 'Q7033371',
 'Q11101138',
 'Q4044259',
 'Q7639816',
 'Q7993733',
 'Q1088774',
 'Q19875767',
 'Q285001',
 'Q2446997',
 'Q1319686',
 'Q5036681',
 'Q27677387',
 'Q3303585',
 'Q18393825',
 'Q1228231',
 'Q123990023',
 'Q117462019',
 'Q124385775',
 'Q7332282',
 'Q2287863',
 'Q2261813',
 'Q2739062',
 'Q2006225',
 'Q3689909',
 'Q1353423',
 'Q1888554',
 'Q16841151',
 'Q734624',
 'Q727067',
 'Q66839247',
 'Q7092414',
 'Q2904707',
 'Q124550519',
 'Q3273659',
 'Q3264268',
 'Q83050393',
 'Q163412',
 'Q2307249',
 'Q3143326',
 'Q14559271',
 'Q853621',
 'Q1078140',
 'Q919452',
 'Q100406799',
 'Q85786155',
 'Q7421538',
 'Q5215345',
 'Q2474196',
 'Q2735837',
 'Q6812617',
 'Q1126532',
 'Q1025631',
 'Q2758707',
 'Q12252332',
 'Q125545639',
 'Q517591',
 'Q288281',
 'Q54869049',
 'Q188766',
 'Q2701727',
 'Q2018005',
 'Q1603052',
 'Q653189',
 'Q117305738',
 'Q35282195',
 'Q14915219',
 'Q4828923',
 'Q1814594',
 'Q125743792',
 'Q189002',
 'Q991121',
 'Q3798619',
 'Q3772414',
 'Q941387',
 'Q1981958',
 'Q3959743',
 'Q14927695',
 'Q1541242',
 'Q7110676',
 'Q2553905',
 'Q4778332',
 'Q10298652',
 'Q1605038',
 'Q1748161',
 'Q326790',
 'Q2616520',
 'Q720569',
 'Q641913',
 'Q1981875',
 'Q13293685',
 'Q96377272',
 'Q10319654',
 'Q6122411',
 'Q7207458',
 'Q4762145',
 'Q729178',
 'Q7323270',
 'Q1772880',
 'Q1461284',
 'Q2020828',
 'Q2469978',
 'Q786392',
 'Q4993306',
 'Q65047167',
 'Q7095288',
 'Q1852653',
 'Q170183',
 'Q2697907',
 'Q15427702',
 'Q2093786',
 'Q54869141',
 'Q1779390',
 'Q899169',
 'Q3437349',
 'Q5418171',
 'Q2276212',
 'Q579766',
 'Q7208434',
 'Q1574701',
 'Q119475360',
 'Q2892667',
 'Q4750070',
 'Q105137334',
 'Q4206949',
 'Q125685873',
 'Q26257738',
 'Q104092599',
 'Q1982366',
 'Q2633886',
 'Q1073719',
 'Q1338015',
 'Q598412',
 'Q1995973',
 'Q859298',
 'Q956305',
 'Q106899363',
 'Q1440116',
 'Q2551963',
 'Q1172469',
 'Q208837',
 'Q1648703',
 'Q117706785',
 'Q950244',
 'Q22305868',
 'Q677927',
 'Q4122307',
 'Q1946997',
 'Q3751821',
 'Q2735564',
 'Q2327088',
 'Q1152776',
 'Q1347115',
 'Q17468562',
 'Q2276614',
 'Q1408525',
 'Q831102',
 'Q528674',
 'Q2087371',
 'Q2567874',
 'Q615063',
 'Q1142725',
 'Q838973',
 'Q2456757',
 'Q600476',
 'Q507727',
 'Q959812',
 'Q4179376',
 'Q15375386',
 'Q1750363',
 'Q2282976',
 'Q21198638',
 'Q19973',
 'Q2713436',
 'Q55777670',
 'Q2415121',
 'Q13581351',
 'Q6690258',
 'Q1456492',
 'Q248210',
 'Q7468830',
 'Q1371048',
 'Q22666616',
 'Q5917624',
 'Q16920511',
 'Q1058134',
 'Q4833847',
 'Q4980576',
 'Q195534',
 'Q7766713',
 'Q2629093',
 'Q11297109',
 'Q4729118',
 'Q7783367',
 'Q666168',
 'Q834969',
 'Q6172950',
 'Q47915404',
 'Q110745791',
 'Q3746896',
 'Q125457773',
 'Q2478053',
 'Q115669312',
 'Q964588',
 'Q68015646',
 'Q2629301',
 'Q2040607',
 'Q376611',
 'Q1187360',
 'Q125490158',
 'Q56283767',
 'Q64026414',
 'Q7491923',
 'Q1849565',
 'Q188770',
 'Q7991175',
 'Q1821319',
 'Q3993337',
 'Q118979027',
 'Q126149',
 'Q1920130',
 'Q22041338',
 'Q96579017',
 'Q546331',
 'Q97691641',
 'Q6614153',
 'Q7773706',
 'Q5625317',
 'Q1991424',
 'Q6907941',
 'Q1319098',
 'Q1027829',
 'Q50413227',
 'Q993833',
 'Q1646614',
 'Q5553947',
 'Q116786471',
 'Q2454384',
 'Q7994811',
 'Q124606110',
 'Q241339',
 'Q3752329',
 'Q111550418',
 'Q2416766',
 'Q2575429',
 'Q7579119',
 'Q48771025',
 'Q1131308',
 'Q995862',
 'Q27126911',
 'Q4993570',
 'Q124637899',
 'Q3068179',
 'Q2617236',
 'Q5464703',
 'Q125821461',
 'Q125186031',
 'Q4038061',
 'Q2134998',
 'Q1406189',
 'Q3964614',
 'Q22056760',
 'Q3512522',
 'Q1543022',
 'Q1269045',
 'Q3041685',
 'Q1445935',
 'Q939945',
 'Q50845201',
 'Q112182851',
 'Q7500468',
 'Q839842',
 'Q3754019',
 'Q866186',
 'Q7227455',
 'Q2592385',
 'Q5285108',
 'Q124817156',
 'Q101428059',
 'Q835192',
 'Q2915228',
 'Q890210',
 'Q125314388',
 'Q909121',
 'Q2089407',
 'Q125017688',
 'Q2095265',
 'Q16994370',
 'Q744564',
 'Q120459946',
 'Q15114662',
 'Q642170',
 'Q6961497',
 'Q127268',
 'Q701966',
 'Q3420453',
 'Q15817835',
 'Q47166818',
 'Q1750952',
 'Q64729088',
 'Q54869031',
 'Q728791',
 'Q64686601',
 'Q8055079',
 'Q18246583',
 'Q85797355',
 'Q3503883',
 'Q2015357',
 'Q18763681',
 'Q546524',
 'Q3854600',
 'Q2925118',
 'Q2263951',
 'Q111312736',
 'Q885875',
 'Q5692932',
 'Q7228435',
 'Q55772702',
 'Q4741218',
 'Q7995524',
 'Q2393645',
 'Q2779740',
 'Q868569',
 'Q3882657',
 'Q7497327',
 'Q2544408',
 'Q2527634',
 'Q17065877',
 'Q5028999',
 'Q1848035',
 'Q2322142',
 'Q3124224',
 'Q3648309',
 'Q154078',
 'Q7622507',
 'Q15635928',
 'Q2262044',
 'Q84761142',
 'Q7443952',
 'Q2457967',
 'Q108597902',
 'Q2724785',
 'Q593415',
 'Q121307943',
 'Q7379371',
 'Q918029',
 'Q3783876',
 'Q2263965',
 'Q2271213',
 'Q29341805',
 'Q6945064',
 'Q787039',
 'Q49522',
 'Q1139219',
 'Q1764403',
 'Q124735156',
 'Q719732',
 'Q600839',
 'Q1729759',
 'Q623470',
 'Q604369',
 'Q527131',
 'Q124711372',
 'Q1592434',
 'Q7782700',
 'Q2421169',
 'Q1952215',
 'Q1953769',
 'Q171260',
 'Q1856876',
 'Q3137776',
 'Q14913267',
 'Q7611095',
 'Q368218',
 'Q30525257',
 'Q2227079',
 'Q4691104',
 'Q17059921',
 'Q2530911',
 'Q2736561',
 'Q7730374',
 'Q18163892',
 'Q17485058',
 'Q1586664',
 'Q16961464',
 'Q124625322',
 'Q1468699',
 'Q41553138',
 'Q118316199',
 'Q4035220',
 'Q5500050',
 'Q1077678',
 'Q16844324',
 'Q252057',
 'Q603753',
 'Q3276876',
 'Q2453037',
 'Q107654239',
 'Q813449',
 'Q124485529',
 'Q28229308',
 'Q2405772',
 'Q4018646',
 'Q2436301',
 'Q2551572',
 'Q117790874',
 'Q10337920',
 'Q124040144',
 'Q539119',
 'Q17060757',
 'Q7711299',
 'Q1139281',
 'Q2916924',
 'Q507541',
 'Q2413072',
 'Q500010',
 'Q2037068',
 'Q1025916',
 'Q2301473',
 'Q7173409',
 'Q116979449',
 'Q48565',
 'Q910912',
 'Q122890867',
 'Q5990947',
 'Q3443475',
 'Q125688793',
 'Q2077201',
 'Q5032057',
 'Q2887099',
 'Q5514667',
 'Q17064188',
 'Q18288',
 'Q2256262',
 'Q18149349',
 'Q7113439',
 'Q124708127',
 'Q2315784',
 'Q149501',
 'Q4838206',
 'Q57897076',
 'Q2725356',
 'Q1129496',
 'Q6929369',
 'Q27000439',
 'Q408972',
 'Q3316414',
 'Q10526527',
 'Q1427327',
 'Q7191144',
 'Q47494729',
 'Q5005808',
 'Q125372745',
 'Q1083282',
 'Q110558677',
 'Q16996391',
 'Q125338137',
 'Q2330074',
 'Q860467',
 'Q5966981',
 'Q5168829',
 'Q28544404',
 'Q7070555',
 'Q1147490',
 'Q59771981',
 'Q7655407',
 'Q114809914',
 'Q4732053',
 'Q3756063',
 'Q2075331',
 'Q903409',
 'Q738875',
 'Q17111037',
 'Q3572753',
 'Q3521647',
 'Q124432985',
 'Q4922137',
 'Q974709',
 'Q2298336',
 'Q7428011',
 'Q2537050',
 'Q5329894',
 'Q1089544',
 'Q865086',
 'Q3508168',
 'Q3079925',
 'Q6532748',
 'Q6091772',
 'Q5137749',
 'Q88098498',
 'Q22918941',
 'Q1418568',
 'Q7441904',
 'Q1463270',
 'Q7093357',
 'Q5431307',
 'Q19627381',
 'Q2734581',
 'Q1353749',
 'Q3481461',
 'Q5577027',
 'Q7564550',
 'Q17022107',
 'Q117743249',
 'Q59297929',
 'Q1964791',
 'Q1165194',
 'Q7166346',
 'Q18590101',
 'Q765054',
 'Q3642293',
 'Q121047067',
 'Q16993994',
 'Q783262',
 'Q189369',
 'Q1393546',
 'Q124245219',
 'Q7491802',
 'Q79646941',
 'Q51220061',
 'Q24197196',
 'Q8058873',
 'Q3372133',
 'Q98073193',
 'Q3793442',
 'Q104208885',
 'Q1163530',
 'Q7677934',
 'Q94557088',
 'Q15843028',
 'Q2542196',
 'Q1604423',
 'Q2889279',
 'Q29790517',
 'Q897406',
 'Q602645',
 'Q2423959',
 'Q106627156',
 'Q19991',
 'Q1523310',
 'Q13929275',
 'Q6011971',
 'Q2662158',
 'Q20648823',
 'Q98747633',
 'Q2735985',
 'Q2663314',
 'Q1737746',
 'Q2912742',
 'Q9292174',
 'Q3752994',
 'Q30597747',
 'Q1138776',
 'Q1648799',
 'Q124658193',
 'Q2274905',
 'Q21480318',
 'Q2610501',
 'Q910268',
 'Q15891138',
 'Q16961370',
 'Q1950768',
 'Q10294126',
 'Q6797599',
 'Q1800071',
 'Q29581389',
 'Q893426',
 'Q55280919',
 'Q1129368',
 'Q2413048',
 'Q97179810',
 'Q114854687',
 'Q18387054',
 'Q3061621',
 'Q4019788',
 'Q2664338',
 'Q1786521',
 'Q2636723',
 'Q8057206',
 'Q1987149',
 'Q6703396',
 'Q607626',
 'Q112682109',
 'Q2076591',
 'Q3434878',
 'Q65089936',
 'Q23986558',
 'Q5227547',
 'Q1983076',
 'Q65920863',
 'Q4896966',
 'Q523345',
 'Q114804768',
 'Q99441275',
 'Q685575',
 'Q2454199',
 'Q583143',
 'Q2878546',
 'Q3352366',
 ...]

In [32]:
file_name = 'qid_list2.txt'

with open(file_name, 'w') as file:
    for qid in unique_list:
        file.write(f"{qid}\n")

## Data Collection: Part 3 (Entire 2024 year)

In [6]:
query = """
SELECT
    -- 1. Extract the year to distinguish data across multiple years (if necessary)
    YEAR(t1.date) AS year,
    -- 2. Extract the month to define the aggregation period
    MONTH(t1.date) AS month,
    t1.article,
    -- 3. Retrieve the distinct QID (MIN or MAX works since QID is constant per article)
    MIN(t1.qid) AS qid,
    -- 4. Calculate the total pageviews for the group (year, month, article)
    SUM(t1.pageviews) AS monthly_pageviews
FROM
    data_table t1
WHERE
    -- Filter for articles that end specifically with '(song)'
    t1.article LIKE '%song)'
GROUP BY
    -- Aggregate all daily pageviews into monthly buckets for each article
    YEAR(t1.date),
    MONTH(t1.date),
    t1.article
ORDER BY
    year,
    month,
    monthly_pageviews DESC;
"""
result = conn.sql(query).df()
result

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,year,month,article,qid,monthly_pageviews
0,2024,1,The_Twelve_Days_of_Christmas_(song),Q112577,41500.0
1,2024,1,Leave_the_World_Behind_(song),Q23056,30525.0
2,2024,1,American_Pie_(song),Q466255,27442.0
3,2024,1,Hello_(Adele_song),Q21172725,27276.0
4,2024,1,Hallelujah_(Leonard_Cohen_song),Q969635,24706.0
...,...,...,...,...,...
20469,2024,12,Delilah_(Tom_Jones_song),Q903546,90.0
20470,2024,12,Miracles_(Jefferson_Starship_song),Q6872506,90.0
20471,2024,12,Best_of_My_Love_(The_Emotions_song),Q4896966,90.0
20472,2024,12,China_Grove_(song),Q5099707,90.0
20473,2024,12,Love_(Kendrick_Lamar_song),Q29832832,90.0

In [14]:
result["article"] = (result["article"].astype(str).str
                     .encode('latin-1', errors='replace') # Treat the string characters as raw 'latin-1' bytes
                    .str.decode('utf-8', errors='replace')   # Re-decode the resulting bytes as UTF-8
)

In [15]:
def clean_articles(article_title):
    clean_title = article_title.split("_(")[0]
    return clean_title

In [16]:
result["article"] = result["article"].apply(lambda x: clean_articles(x))

In [17]:
result["article"] = result["article"].str.replace("_", " ")

In [18]:
result

       year  month                       article        qid  monthly_pageviews
0      2024      1  The Twelve Days of Christmas    Q112577            41500.0
1      2024      1        Leave the World Behind     Q23056            30525.0
2      2024      1                  American Pie    Q466255            27442.0
3      2024      1                         Hello  Q21172725            27276.0
4      2024      1                    Hallelujah    Q969635            24706.0
...     ...    ...                           ...        ...                ...
20469  2024     12                       Delilah    Q903546               90.0
20470  2024     12                      Miracles   Q6872506               90.0
20471  2024     12               Best of My Love   Q4896966               90.0
20472  2024     12                   China Grove   Q5099707               90.0
20473  2024     12                          Love  Q29832832               90.0

[20474 rows x 5 columns]

In [ ]:
result.to_csv('articles_song3.csv', index=True, header=True)

In [7]:
qid_list = [qid for qid in result["qid"]]

In [9]:
len(qid_list)

20474

In [10]:
unique_list = []
for qid in qid_list:
    if qid not in unique_list:
        unique_list.append(qid)
    else:
        continue
unique_list

['Q112577',
 'Q23056',
 'Q466255',
 'Q21172725',
 'Q969635',
 'Q169298',
 'Q2991794',
 'Q3772414',
 'Q5291632',
 'Q1579259',
 'Q3518110',
 'Q744297',
 'Q67184416',
 'Q124363248',
 'Q3293037',
 'Q18208944',
 'Q123169436',
 'Q124369154',
 'Q700867',
 'Q7516352',
 'Q7959653',
 'Q1165404',
 'Q241339',
 'Q1971',
 'Q98066028',
 'Q123273186',
 'Q3503685',
 'Q592696',
 'Q1142043',
 'Q115945493',
 'Q124353181',
 'Q19892111',
 'Q123990023',
 'Q104296021',
 'Q2735688',
 'Q123990059',
 'Q1231722',
 'Q2604122',
 'Q863433',
 'Q1130943',
 'Q114721508',
 'Q2030651',
 'Q124550519',
 'Q312122',
 'Q124256479',
 'Q122332978',
 'Q121167968',
 'Q155016',
 'Q5183105',
 'Q1764379',
 'Q124385775',
 'Q124317039',
 'Q1513654',
 'Q23004224',
 'Q1057533',
 'Q122662730',
 'Q2078402',
 'Q383842',
 'Q5976590',
 'Q104774451',
 'Q4357239',
 'Q1786535',
 'Q1647391',
 'Q379751',
 'Q999593',
 'Q641677',
 'Q1138361',
 'Q2311707',
 'Q2639231',
 'Q2341319',
 'Q1742084',
 'Q1138836',
 'Q3392431',
 'Q578498',
 'Q1573997',
 'Q119451063',
 'Q380825',
 'Q1404968',
 'Q1420677',
 'Q164100',
 'Q720569',
 'Q3635151',
 'Q153029',
 'Q184259',
 'Q2001828',
 'Q2721073',
 'Q2664309',
 'Q1932351',
 'Q210485',
 'Q1163515',
 'Q56770393',
 'Q1808348',
 'Q2706015',
 'Q18601898',
 'Q964737',
 'Q885777',
 'Q2000445',
 'Q1128775',
 'Q880719',
 'Q720547',
 'Q3993337',
 'Q2291989',
 'Q106899363',
 'Q2889279',
 'Q3798619',
 'Q865095',
 'Q157355',
 'Q698481',
 'Q122890867',
 'Q686850',
 'Q15275920',
 'Q52808665',
 'Q121972390',
 'Q804380',
 'Q4391031',
 'Q1895177',
 'Q97929991',
 'Q1165771',
 'Q2006198',
 'Q117842122',
 'Q1121052',
 'Q7072070',
 'Q2688110',
 'Q1675420',
 'Q2736391',
 'Q114805013',
 'Q124289776',
 'Q880611',
 'Q1473718',
 'Q116824945',
 'Q106291700',
 'Q913700',
 'Q720620',
 'Q1641812',
 'Q2076570',
 'Q2089407',
 'Q105137334',
 'Q118979027',
 'Q867806',
 'Q2733482',
 'Q2630950',
 'Q23647071',
 'Q123418409',
 'Q115706733',
 'Q11510350',
 'Q770786',
 'Q1631268',
 'Q638334',
 'Q1813850',
 'Q1253170',
 'Q1635376',
 'Q903409',
 'Q59297929',
 'Q3075151',
 'Q844046',
 'Q1953769',
 'Q113669344',
 'Q3420453',
 'Q257424',
 'Q683320',
 'Q90599924',
 'Q841967',
 'Q938656',
 'Q529026',
 'Q30606332',
 'Q1808804',
 'Q1770488',
 'Q84761142',
 'Q634821',
 'Q1437266',
 'Q8027833',
 'Q1770461',
 'Q2262482',
 'Q1131761',
 'Q56070897',
 'Q4037259',
 'Q733931',
 'Q1541182',
 'Q749752',
 'Q1450954',
 'Q74038',
 'Q123479284',
 'Q1036227',
 'Q13557314',
 'Q229553',
 'Q74208810',
 'Q1750952',
 'Q661493',
 'Q5559091',
 'Q82123',
 'Q275422',
 'Q1772880',
 'Q120024185',
 'Q18786661',
 'Q2081392',
 'Q16028874',
 'Q5215345',
 'Q49522',
 'Q117480544',
 'Q1159364',
 'Q1011938',
 'Q29051557',
 'Q1781150',
 'Q88222469',
 'Q4643816',
 'Q107439752',
 'Q832799',
 'Q1324983',
 'Q117462019',
 'Q525539',
 'Q3959743',
 'Q2083222',
 'Q2300404',
 'Q14661781',
 'Q261315',
 'Q701655',
 'Q2517476',
 'Q5853236',
 'Q1573223',
 'Q155447',
 'Q1939352',
 'Q1437264',
 'Q1423445',
 'Q2430003',
 'Q16843253',
 'Q2634654',
 'Q996033',
 'Q2454080',
 'Q225027',
 'Q7677934',
 'Q6297345',
 'Q63245158',
 'Q104175596',
 'Q123312089',
 'Q3989961',
 'Q123412052',
 'Q959036',
 'Q123162867',
 'Q1165917',
 'Q113876065',
 'Q123614606',
 'Q1193181',
 'Q2069502',
 'Q1408207',
 'Q1419882',
 'Q2628090',
 'Q568484',
 'Q7771013',
 'Q116453699',
 'Q32503',
 'Q57897076',
 'Q2734705',
 'Q1143166',
 'Q7569812',
 'Q1479183',
 'Q7208434',
 'Q1398035',
 'Q20882673',
 'Q326790',
 'Q1761593',
 'Q941387',
 'Q117305738',
 'Q1852653',
 'Q910905',
 'Q202698',
 'Q2456757',
 'Q857507',
 'Q83050393',
 'Q993833',
 'Q7639816',
 'Q57939337',
 'Q2363966',
 'Q2756130',
 'Q124040144',
 'Q1353749',
 'Q240211',
 'Q3980281',
 'Q120441376',
 'Q62618893',
 'Q118316199',
 'Q732826',
 'Q635756',
 'Q2619535',
 'Q18786715',
 'Q572144',
 'Q1353423',
 'Q5135443',
 'Q30597941',
 'Q6946243',
 'Q1371048',
 'Q1126532',
 'Q30603613',
 'Q5451533',
 'Q11101138',
 'Q2086380',
 'Q2287863',
 'Q2739062',
 'Q1888554',
 'Q7281218',
 'Q1714785',
 'Q15144830',
 'Q910487',
 'Q978391',
 'Q189007',
 'Q2553206',
 'Q2342851',
 'Q7033371',
 'Q28452669',
 'Q1025631',
 'Q804574',
 'Q830734',
 'Q1814594',
 'Q14370331',
 'Q7637277',
 'Q738474',
 'Q2733678',
 'Q1808658',
 'Q107123213',
 'Q2282976',
 'Q543362',
 'Q734624',
 'Q28737603',
 'Q4646459',
 'Q2717247',
 'Q2303661',
 'Q21643112',
 'Q97664817',
 'Q1228231',
 'Q14915219',
 'Q2554050',
 'Q522215',
 'Q352920',
 'Q5216027',
 'Q107525406',
 'Q1130223',
 'Q5092300',
 'Q3445324',
 'Q5286056',
 'Q3366912',
 'Q169987',
 'Q104184919',
 'Q239076',
 'Q964588',
 'Q110732545',
 'Q288281',
 'Q3689909',
 'Q2191286',
 'Q120682483',
 'Q22056760',
 'Q66314458',
 'Q2629301',
 'Q21198638',
 'Q57898891',
 'Q991121',
 'Q7758542',
 'Q5418171',
 'Q55777670',
 'Q7993694',
 'Q950244',
 'Q1648703',
 'Q2758707',
 'Q123472066',
 'Q1027829',
 'Q4044259',
 'Q1995488',
 'Q1141939',
 'Q2164631',
 'Q1629508',
 'Q27623',
 'Q163412',
 'Q2137506',
 'Q2078599',
 'Q542497',
 'Q1088774',
 'Q2915228',
 'Q1748161',
 'Q5351760',
 'Q1078140',
 'Q2015357',
 'Q943285',
 'Q122723339',
 'Q56635098',
 'Q2629093',
 'Q919452',
 'Q123944694',
 'Q2327088',
 'Q117706785',
 'Q1392942',
 'Q1857814',
 'Q3964614',
 'Q4729118',
 'Q7332282',
 'Q123513169',
 'Q122143634',
 'Q17010773',
 'Q2574626',
 'Q1073719',
 'Q7783367',
 'Q98910463',
 'Q1498615',
 'Q7095288',
 'Q1575153',
 'Q2227079',
 'Q13581351',
 'Q2315723',
 'Q153044',
 'Q7309633',
 'Q5032057',
 'Q7421538',
 'Q2551568',
 'Q54869141',
 'Q2548927',
 'Q2523320',
 'Q546331',
 'Q1130059',
 'Q1920130',
 'Q3553704',
 'Q22666616',
 'Q4018646',
 'Q257517',
 'Q3642293',
 'Q2262044',
 'Q22041338',
 'Q2018005',
 'Q899169',
 'Q154187',
 'Q920366',
 'Q126149',
 'Q719975',
 'Q593978',
 'Q16844324',
 'Q17468562',
 'Q79330104',
 'Q96377272',
 'Q66382926',
 'Q1981958',
 'Q1605038',
 'Q208837',
 'Q989611',
 'Q835192',
 'Q2892667',
 'Q1172469',
 'Q2020828',
 'Q2006225',
 'Q7227455',
 'Q5514667',
 'Q7468830',
 'Q15427702',
 'Q3273659',
 'Q68015646',
 'Q2040607',
 'Q3751821',
 'Q147734',
 'Q1194892',
 'Q47915404',
 'Q116730199',
 'Q1387798',
 'Q4838245',
 'Q8050903',
 'Q118534203',
 'Q2446997',
 'Q89019004',
 'Q15635928',
 'Q1934656',
 'Q6505842',
 'Q15375386',
 'Q5139820',
 'Q166904',
 'Q2355373',
 'Q2037068',
 'Q1152776',
 'Q1821319',
 'Q2617236',
 'Q35282195',
 'Q866186',
 'Q25219012',
 'Q97631372',
 'Q868569',
 'Q1725760',
 'Q2322142',
 'Q701966',
 'Q839842',
 'Q170183',
 'Q189002',
 'Q1172628',
 'Q18786700',
 'Q2436301',
 'Q1440116',
 'Q104092599',
 'Q108597902',
 'Q14927695',
 'Q3472816',
 'Q1995973',
 'Q2281058',
 'Q831102',
 'Q4206949',
 'Q10298652',
 'Q2095265',
 'Q582848',
 'Q2469978',
 'Q2474196',
 'Q19973',
 'Q7773573',
 'Q2455256',
 'Q17063439',
 'Q28229308',
 'Q1089544',
 'Q21504121',
 'Q5331081',
 'Q607626',
 'Q26257738',
 'Q623470',
 'Q1381626',
 'Q859298',
 'Q677927',
 'Q579766',
 'Q728791',
 'Q4038061',
 'Q5285108',
 'Q1714123',
 'Q1166204',
 'Q17485058',
 'Q1586664',
 'Q65083434',
 'Q2567874',
 'Q1208770',
 'Q10319654',
 'Q117811287',
 'Q122330876',
 'Q19875767',
 'Q54869031',
 'Q2093786',
 'Q1139281',
 'Q3437349',
 'Q15114662',
 'Q1406189',
 'Q507727',
 'Q727067',
 'Q642170',
 'Q4980576',
 'Q115669312',
 'Q3503883',
 'Q2415121',
 'Q7110676',
 'Q7092414',
 'Q641913',
 'Q6122411',
 'Q2616520',
 'Q123120277',
 'Q600476',
 'Q116786471',
 'Q3041685',
 'Q603753',
 'Q834969',
 'Q3143326',
 'Q107654239',
 'Q5553947',
 'Q4896966',
 'Q1461284',
 'Q7611095',
 'Q1946997',
 'Q4993306',
 'Q376611',
 'Q653189',
 'Q4179376',
 'Q7993733',
 'Q188766',
 'Q2904707',
 'Q9292174',
 'Q535566',
 'Q16841151',
 'Q188770',
 'Q2887099',
 'Q3752329',
 'Q18288',
 'Q5433668',
 'Q85786155',
 'Q813449',
 'Q527131',
 'Q5464703',
 'Q686517',
 'Q27677387',
 'Q666168',
 'Q4965917',
 'Q1952215',
 'Q1750363',
 'Q7622507',
 'Q120639015',
 'Q786392',
 'Q1393546',
 'Q2551963',
 'Q5966981',
 'Q122807395',
 'Q14559271',
 'Q1319686',
 'Q1574701',
 'Q19954301',
 'Q2709654',
 'Q122796175',
 'Q124040082',
 'Q1543022',
 'Q838973',
 'Q1456492',
 'Q195534',
 'Q1131308',
 'Q14200893',
 'Q19875576',
 'Q11297109',
 'Q909121',
 'Q1729759',
 'Q959812',
 'Q15891138',
 'Q7228435',
 'Q54869049',
 'Q6058113',
 'Q2454066',
 'Q6745325',
 'Q7070555',
 'Q50413227',
 'Q2237444',
 'Q124422481',
 'Q17812766',
 'Q2731738',
 'Q2633886',
 'Q838912',
 'Q1319098',
 'Q2925118',
 'Q1025916',
 'Q64729088',
 'Q154078',
 'Q571722',
 'Q1991424',
 'Q1164580',
 'Q3908358',
 'Q56283767',
 'Q598412',
 'Q1849565',
 'Q528674',
 'Q4122307',
 'Q15817835',
 'Q285001',
 'Q6690258',
 'Q2454384',
 'Q2087371',
 'Q4838206',
 'Q3754019',
 'Q2263965',
 'Q1779390',
 'Q3124224',
 'Q55614229',
 'Q7443952',
 'Q100707687',
 'Q5431307',
 'Q16326586',
 'Q1848035',
 'Q1983076',
 'Q30597747',
 'Q2077201',
 'Q2592385',
 'Q1982114',
 'Q47166818',
 'Q1129536',
 'Q3068179',
 'Q17065877',
 'Q122750408',
 'Q48767503',
 'Q615063',
 'Q2575429',
 'Q16386878',
 'Q853621',
 'Q500010',
 'Q2697907',
 'Q957761',
 'Q7516111',
 'Q1044354',
 'Q545545',
 'Q860467',
 'Q1523310',
 'Q1964791',
 'Q7679859',
 'Q94557088',
 'Q7995524',
 'Q12252332',
 'Q2701727',
 'Q3572753',
 'Q2416813',
 'Q7441904',
 'Q587272',
 'Q47034767',
 'Q904020',
 'Q7773706',
 'Q2565798',
 'Q55280919',
 'Q1541242',
 'Q2075331',
 'Q3059276',
 'Q2722509',
 'Q4833847',
 'Q1427327',
 'Q885875',
 'Q3882657',
 'Q66839247',
 'Q100406799',
 'Q956305',
 'Q17151064',
 'Q3512522',
 'Q88098498',
 'Q5099707',
 'Q120459946',
 'Q3746896',
 'Q4822327',
 'Q1982366',
 'Q910912',
 'Q1269045',
 'Q27000439',
 'Q22043867',
 'Q6961497',
 'Q22305868',
 'Q1981875',
 'Q3521647',
 'Q7323270',
 'Q744564',
 'Q18149349',
 'Q835804',
 'Q1142725',
 'Q719732',
 'Q893426',
 'Q123273232',
 'Q2276212',
 'Q25206229',
 'Q189369',
 'Q7579119',
 'Q2544408',
 'Q4691104',
 'Q1338015',
 'Q604369',
 'Q7991506',
 'Q20648823',
 'Q2736561',
 'Q4993570',
 'Q18151111',
 'Q13293685',
 'Q20058596',
 'Q2464708',
 'Q4957874',
 'Q2097859',
 'Q7561222',
 'Q18246583',
 'Q1576265',
 'Q116764603',
 'Q765054',
 'Q313351',
 'Q4729112',
 'Q2179388',
 'Q1764403',
 'Q123039481',
 'Q29352319',
 'Q47499046',
 'Q28465817',
 'Q7912077',
 'Q933978',
 'Q7497327',
 'Q6046503',
 'Q2553905',
 'Q1129368',
 'Q769491',
 'Q1077678',
 'Q3276876',
 'Q27319',
 'Q974709',
 'Q1950768',
 'Q210301',
 'Q101002943',
 'Q104208885',
 'Q1800071',
 'Q2457967',
 'Q960371',
 'Q7991175',
 'Q102180867',
 'Q1569320',
 'Q2236558',
 'Q15054054',
 'Q119556746',
 'Q23131',
 'Q111550418',
 'Q7882509',
 'Q839848',
 'Q2275365',
 'Q935103',
 'Q738895',
 'Q3783876',
 'Q7080555',
 'Q3443475',
 'Q5028999',
 'Q54805365',
 'Q2276614',
 'Q6544768',
 'Q3634587',
 'Q5577027',
 'Q636563',
 'Q4035220',
 'Q771253',
 'Q122285084',
 'Q783262',
 'Q1603052',
 'Q2263951',
 'Q117713758',
 'Q118945253',
 'Q79646941',
 'Q65084553',
 'Q2529083',
 'Q122143591',
 'Q539119',
 'Q2724785',
 'Q49469',
 'Q51220061',
 'Q1187360',
 'Q16736785',
 'Q2013829',
 'Q98073193',
 'Q276136',
 'Q114854687',
 'Q111784795',
 'Q5625317',
 'Q3302117',
 'Q1165194',
 'Q1646614',
 'Q113669375',
 'Q7728806',
 'Q890210',
 'Q124321720',
 'Q7741159',
 'Q18763681',
 'Q1163530',
 'Q5028875',
 'Q1129496',
 'Q59771981',
 'Q1093259',
 'Q2393645',
 'Q83397930',
 'Q96381582',
 'Q124353109',
 'Q10858559',
 'Q7699046',
 'Q4023065',
 'Q113576306',
 'Q408972',
 'Q1445935',
 'Q2421169',
 'Q123332603',
 'Q5893394',
 'Q171260',
 'Q7641235',
 'Q1655256',
 'Q1856876',
 'Q2725356',
 'Q7646671',
 'Q2708696',
 'Q4778332',
 'Q5737524',
 'Q1638497',
 'Q16966903',
 'Q118945325',
 'Q17496216',
 'Q17111037',
 'Q123943122',
 'Q141552',
 'Q1882159',
 'Q17035096',
 'Q2758957',
 'Q1058134',
 'Q865064',
 'Q112860785',
 'Q7160503',
 'Q1737746',
 'Q2315784',
 'Q507541',
 'Q2261813',
 'Q2024042',
 'Q2584225',
 'Q2271213',
 'Q7440100',
 'Q7166346',
 'Q166686',
 'Q2672585',
 'Q3155809',
 'Q1463270',
 'Q57903096',
 'Q2453037',
 'Q1340989',
 'Q81825427',
 'Q2432166',
 'Q961215',
 'Q56543580',
 'Q2539410',
 'Q2878546',
 'Q3348655',
 'Q21203342',
 'Q18333025',
 'Q114878437',
 'Q2298336',
 'Q29341805',
 'Q17028591',
 'Q121735714',
 'Q1184983',
 'Q7898116',
 'Q6092076',
 'Q685575',
 'Q1333322',
 'Q7786334',
 'Q26254088',
 'Q254026',
 'Q2330074',
 'Q935373',
 'Q7545910',
 'Q116908303',
 'Q5990947',
 'Q124359442',
 'Q2416766',
 'Q22918941',
 'Q149099',
 'Q2548119',
 'Q2854982',
 'Q41553138',
 'Q1592434',
 'Q1408606',
 'Q922991',
 'Q120487764',
 'Q60769620',
 'Q606088',
 'Q116979449',
 'Q20856833',
 'Q1050753',
 'Q300586',
 'Q1698590',
 'Q3808739',
 'Q117772091',
 'Q7993304',
 'Q1718375',
 'Q7645595',
 'Q56598871',
 'Q124322761',
 'Q2742705',
 'Q16634732',
 'Q7491802',
 'Q115640235',
 'Q2664338',
 'Q2416859',
 'Q17060757',
 'Q2405772',
 'Q2423959',
 'Q6614153',
 'Q3115869',
 'Q29790517',
 'Q149501',
 'Q736799',
 'Q21203243',
 'Q18387054',
 'Q115111032',
 'Q2307249',
 'Q14907924',
 'Q16920511',
 'Q16994370',
 'Q2779740',
 'Q1411628',
 'Q114159',
 'Q2231931',
 'Q106040780',
 'Q701766',
 'Q2636723',
 'Q2577736',
 'Q248210',
 'Q65089936',
 'Q3341411',
 'Q925895',
 'Q650326',
 'Q7500468',
 'Q7379371',
 'Q22668404',
 'Q21480350',
 'Q17147235',
 'Q6172950',
 'Q583143',
 'Q385033',
 'Q15633197',
 'Q2610501',
 'Q939945',
 'Q2633086',
 'Q2915752',
 'Q3825529',
 'Q15221456',
 'Q17143023',
 'Q11977632',
 'Q1138776',
 'Q59282418',
 'Q8057190',
 'Q546524',
 'Q1621982',
 'Q2466691',
 'Q29831618',
 ...]

In [11]:
len(unique_list)

4462

In [12]:
file_name = 'qid_list3.txt'

with open(file_name, 'w') as file:
    for qid in unique_list:
        file.write(f"{qid}\n")